/* Arrow Animation Section */
.arrowAnimation { 
    margin-bottom: 0.5625em;
    animation: arrowAnimation 1s ease-in-out infinite;
}

@keyframes arrowAnimation {

    0% , 100%{
        transform: translateX( var(--fs-zero , 0));
    }

    50% {
        transform: translateX( 0.625em);

    }
}
/*  */
/*  */
/*  */

/* Quotes Section */
.quotesContainerTitles {
    margin-top: 3.125em;
}

.quotesContainer__title {
    text-align: var(--value-center , center);
    text-transform: var(--value-uppercase , uppercase);
    margin: var(--fs-zero , 0);
}

.quotesContainer__title--italic {
    text-transform: capitalize;
    font-style: var(--value-italic , italic);
}

.quotesContainer__title--margin-bottom {
    margin-bottom: 1.5625em;
}

.quotesContainerBoxs {
    margin: 6.25em 0 1.875em 0;
}

.quotesContainerBox--first {
    display: var(--value-block , block);
}

.quotesContainerBox--second {
    display: var(--value-none , none);
}

.quotesContainerBox--third {
    display: var(--value-none , none);
}

.quotesContainerBox--fourth {
    display: var(--value-none , none);
}

.quotesContainerBox--fifth {
    display: var(--value-none , none);
}

.quotesContainerContent {
    position: var(--value-relative , relative);
    text-align: var(--value-center , center);
    border-radius: 0.3125em;
    border: 1px solid  var(--text-color);
    padding: 1.25em 0.9375em;
}

.quotesContainer__img {
    width: 50px;
}

.quotesContainer__img--left {
    position: var(--value-absolute , absolute);
    top: -22px;
    left: 20px;
}

.quotesContainer__img--right {
    position: var(--value-absolute , absolute);
    bottom: -22px;
    right: 15px;
}

.quotesContainerArrows {
    display: var(--value-flex , flex);
    align-items: var(--value-center , center);
    justify-content: var(--value-center , center);
    gap: 1.875em;
}

.arrow {
    width: 3vmin;
    height: 3vmin;
    background-color: var(--value-transparent , transparent);
    border-top: 1vmin solid var(--text-color);
    border-right: 1vmin solid var(--text-color);
    box-shadow: 0 0 0 lightgray;
    transition: all .5s ease;
    cursor: pointer;
}

.arrow:before {
    content: var(--value-content , '');
    position: var(--value-absolute , absolute);
    top: 50%;
    left: 50%;
    transform: translate(-40%, -60%) rotate(45deg);
    width: 200%;
    height: 200%;
}



/* Active Section */
















.arrow.left {
    left: 0;
    transform: translate3d(0, -50%, 0) rotate(-135deg);
}

.arrow.right {
    right: 0;
    transform: translate3d(0, -50%, 0) rotate(45deg);
}

/* Tablet Size */


@media screen and (min-width:48em) {

    /* Quotes Section */
    .quotesContainerContent {
        width: 70%;
        margin: var(--fs-zero , 0) var(--value-auto , auto);
        padding: 3.125em;
    }

    .quotesContainerArrows {
        margin-top: 4.6875rem;
    }


}

/* Portatil Size */
@media screen and (min-width:64em) {

    /* Quotes Section */
    /* Contact Section */
    /* .contact {
        min-height: 100vh;
    } */
}

/* PC Size */
@media screen and (min-width:90em) {
}





