:root {
    --black:90deg, rgba(18,18,18,1) 0%, #191919 100%;
    --white:#F5F5F5;
    --green:#B4ED07;
    --whatsappColor:#25D366;

    --fs-zero:0;
    --fs-16px:16px;
    
    --fs-title-mobile:3.125rem;
    --fs-title-tablet:3.75rem;
    --fs-title-portatil:4.5rem;
    --fs-heroTitle-tablet:5rem;
    --fs-heroTitle-portatil:6rem;
    --fs-paragraph-tablet:1.1rem;
    --fs-marquee-mobile:1.875rem;
    --fs-marquee-tablet:2.25rem;
    --fs-marquee-portatil:0000;
    --fs-padding-mobile: 0 0.9375em;
    --fs-padding-tablet: 0.625em 3.125em;
    --fs-padding-portatil: 0.625em 4.6875em;
    --fs-menuLink-mobile:3rem;
    --fs-informationTitle-mobile:1.75rem;
    --fs-contactStrong:2.1875rem;

    --ff-titles:'Roboto', sans-serif;
    --ff-paragraph:'Rubik', sans-serif;

    --value-relative:relative;
    --value-absolute:absolute;
    --value-fixed:fixed;

    --value-flex:flex;
    --value-grid:grid;
    --value-block:block;
    --value-inline-block:inline-block;
    --value-column:column;
    --value-row:row;
    --value-space-between:space-between;
    --value-space-around:space-around;
    --value-flexEnd:flex-end;
    --value-center:center;
    
    --value-none:none;
    --value-hidden:hidden;
    --value-auto:auto;
    --value-uppercase:uppercase;
    --value-italic:italic;
    --value-cover:cover;
    --value-transparent:transparent;
    --value-initial:initial;
    --value-content:"";

    --value-lineHeight:1.5;
    --value-100Percent:100%;

}

@media screen and (prefers-color-scheme: dark) {

    :root {
        --text-color:var(--white);
        --page-background-color:var(--black);
    }

}

@media screen and (prefers-color-scheme: light) {
    
    :root {
        --page-background-color:var(--lightWhite);
        --text-color:var(--black );
    }

}

* , ::before , ::after {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: var(--fs-16px , 16px);
    font-family: var(--ff-paragraph , 'Rubik');
    background: linear-gradient(var(--page-background-color));
}

img {
    display: var(--value-block , block);
    max-width: var(--value-100Percent , 100%);
}

ul {
    margin: var(--fs-zero , 0);
    padding-left: var(--fs-zero , 0);
}

li {
    list-style-type: var(--value-none , none);
}

a {
    text-decoration: var(--value-none , none);
}

h1 {
    font-family: var(--ff-titles , 'Roboto');
}

h2 {
    font-family: var(--ff-titles , 'Roboto');
}

h3 {
    font-family: var(--ff-titles , 'Roboto');
} 

strong {
    display: var(--value-block , block);
}

.main.hide {
    display: var(--value-none , none);
}

/* Colors and Background-color Section */
.color--white {
    color: var(--text-color);
}

.backgroundColor--black {
    background-color: var(--page-background-color);
}

.color--green {
    color: var(--green , #B4ED07);
}

/* font-size Section */
.fs-title {
    font-size: var(--fs-title-mobile , 3.125rem);
}
.list__link {
    font-size: var(--fs-menuLink-mobile , 3rem);
}

/* font-family Section */
.loading__letter {
    font-family: var(--ff-paragraph , 'Rubik');
}

.list__link {
    font-family: var(--ff-titles , 'Roboto');
}

/* paragraph Section */
.paragraph {
    line-height: var(--value-lineHeight , 1.5);
}

/* Marquee Section */
.footerContainer{
    position: var(--value-relative , relative);
    padding: 6.25em 0 6.25em 0;
    overflow: var(--value-hidden , hidden);
}

.footerFather {
    position: var(--value-absolute , absolute);
    top:6.25em;
    left:-100%;
    display:var(--value-flex , flex);
    justify-content:var(--value-space-around , space-around);
    width:200%;
    padding: 0.625em;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    white-space: nowrap;
    overflow: var(--value-hidden , hidden);
    transform:translate(0 , -50%);
    animation: marquee 7s linear infinite forwards;
}
 
.footerText {
    font-size: var(--fs-marquee-mobile , 1.875rem);
    text-transform: var(--value-uppercase , uppercase);
}

@keyframes marquee {

    0% {
      left:var(--fs-zero , 0);
    }
    
    100% {
      left:-100%;
    }
}

/* LoaderContainer CSS */
.loaderContainer {
    display: var(--value-flex , flex);
    align-items: var(--value-center , center);
    justify-content: var(--value-center , center);
    flex-direction: var(--value-column , column);
    height: 100vh;
}

.loaderContainer.active {
    display: var(--value-none , none);
}

.loading__letter  {
    display: var(--value-inline-block , inline-block);
    margin: 0 0.3125em;
    letter-spacing: 3px;
    animation: blur-text .5s 0s infinite linear alternate;
}

@keyframes blur-text {
    0% {
        filter: blur(var(--fs-zero , 0));
   }
    100% {
        filter: blur(1.75px);
   }
}

/* Hero Section */
.hero {
    position: var(--value-relative , relative);
    display: var(--value-flex , flex);
    height: 100vh;
    width: 100%;
    padding: var(--fs-padding-mobile);
}

.header {
    z-index: 300;
    position:  var(--value-fixed , fixed);
    top: var(--fs-zero , 0) ;
    left: var(--fs-zero , 0);
    display: var(--value-flex , flex);
    justify-content: var(--value-space-between , space-between);
    align-items: var(--value-center , center);
    width: var(--value-100Percent , 100%);
    padding: 0.625em 0.9375em;
    border-bottom: 1px solid var(--text-color);
    background: #121212;
}

.logo__img {
    width: 40px;
    height: 40px;
}

.menuOpen {
    z-index: 500;
    position: var(--value-relative , relative);
}

.menu-toggle {
    position: var(--value-relative , relative);
    width: 25px;
    height: 25px;
    background-color: var(--value-transparent , transparent);
    transition: 0.25s ease-in-out;
}

.hamburger {
    position: var(--value-absolute , absolute);
    top: var(--fs-zero , 0);
    left: var(--fs-zero , 0);
    display: var(--value-flex , flex);
    justify-content: var(--value-center , center);
    align-items: var(--value-center , center);
    flex-direction: var(--value-column , column);
    width: var(--value-100Percent , 100%);
    height: var(--value-100Percent , 100%);
}

.bar {
    display: var(--value-block , block);
    border-radius: 2px;
    background-color: var(--text-color);
}

.bar--hamburger {
    width: 25px;
    height: 2px;
    margin: 7px 0 0 0;
    transition: 0.25s ease-in-out;
}

.menu-toggle.open .bar--hamburger {
    width: var(--fs-zero , 0);
}

.hamburger .bar--hamburgerFirst {
    margin-top: 0 ;
    transition-delay: 0.5s;
}

.menu-toggle.open .bar--hamburgerFirst {
    transition-delay: var(--fs-zero , 0);
}

.bar--hamburgerSecond {
    transition-delay: 0.625s;
}

.menu-toggle.open .bar--hamburgerSecond{
    transition-delay: 0.125s;
}

.bar--hamburgerThird {
    transition-delay: 0.75s;
}

.menu-toggle.open .bar--hamburgerThird{
    transition-delay: 0.25s;
}

.cross {
    position: var(--value-absolute , absolute);
    width: var(--value-100Percent , 100%);
    height: var(--value-100Percent , 100%);
    transform: rotate(45deg);
}

.bar--crossFirst {
    position: var(--value-absolute , absolute);
    left: 11.45px;
    top: var(--fs-zero , 0);
    width: 2px;
    height: var(--fs-zero , 0);
    transition-delay: 0s;
    transition: 0.25s ease-in-out;
}

.menu-toggle.open .bar--crossFirst{
    height: var(--value-100Percent , 100%);
    transition-delay: .825s;
}

.bar--crossSecond {
    position: var(--value-absolute , absolute);
    top: 11.45px;
    right: var(--fs-zero , 0);
    width: var(--fs-zero , 0);
    height: 2px;
    transition-delay: 0.25s;
    transition: 0.25s ease-in-out;
}

.menu-toggle.open .bar--crossSecond {
    width: var(--value-100Percent , 100%);
    transition-delay: 1s;
}

/* menuClose Section */
.menuClose {
    position: var(--value-relative , relative);
    transform: translate(-100%);
    opacity: var(--fs-zero , 0);
}

.menuClose.active {
    z-index: 200;
    position: var(--value-absolute , absolute);
    top: var(--fs-zero , 0);
    left: var(--fs-zero , 0);
    display: var(--value-flex , flex);
    flex-direction: var(--value-column , column);
    align-items: var(--value-center , center);
    justify-content: var(--value-center , center);
    gap: 3.125em;
    width: var(--value-100Percent , 100%);
    height: 100vh;
    font-weight: 100;
    background-color:#121212;
    opacity: 1;
    transform: translate(0);
    transition: transform 1s cubic-bezier(.62,.54,.76,.94) , opacity .5s cubic-bezier(.62,.54,.85,.72);
}

.list {
    display: var(--value-none , none);
}

.list.active {
    display: var(--value-flex , flex);
    flex-direction: var(--value-column , column);
}

.list__item {
    text-align:  var(--value-center , center);
    margin-top: 3.125em;
}

.list__link {
    position: var(--value-relative , relative);
    text-transform: var(--value-uppercase , uppercase);
}

.list__link::after {
    position: var(--value-absolute , absolute);
    content: var(--value-content , "");
    bottom: -5px;
    left: var(--fs-zero , 0);
    width: var(--value-100Percent , 100%);
    height: 3px;
    background-color:  var(--green , #B4ED07);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: .5s clip-path ;
}

.darkMode {
    display: var(--value-none , none);
}

.darkMode.active {
    display: var(--value-flex , flex);
    align-items: center;
}

.darkMode__img {
    width: 50px;
    cursor: pointer;
}

.languages {
    display: var(--value-none , none);
}

.languages.active {
    display: var(--value-flex , flex);
    gap: 25px;
}

.flag {
    width: 50px;
    height: 50px;
    object-fit: var(--value-cover , cover);
}

/* heroContent Section */
.heroContent {
    align-self: var(--value-center , center);
    justify-self: var(--value-center , center);
    width: 100%;
}

.heroContentContainer {
    z-index: 10;
    max-width: 750px;
}

.herotitle {
    line-height: 1.25;
}

.heroContentContainer__btn {
    display: var(--value-inline-block , inline-block);
    margin-top: 1.25em;
    padding: 0.75em 1.875em;
    color: var(--green , #B4ED07);
    border: 1px solid var(--green , #B4ED07);
    border-radius: 1.875em;
    font-style: var(--value-italic , italic);
    transition-duration: .5s;
    transition-property: color , background-color;
}

.ocean { 
    position: var(--value-absolute , absolute);
    bottom: var(--fs-zero , 0);
    left: var(--fs-zero , 0);
    width:100%;
    height: 200px;
    overflow: var(--value-hidden , hidden);
}
  
.wave--first {
    background: url(/assets/image/icons/wave.svg) repeat-x; 
    transform: rotate(180deg);
    position: var(--value-absolute , absolute);
    top: var(--fs-zero , 0);
    left: var(--fs-zero , 0);
}
  
.wave {
    background: url(/assets/image/icons/wave.svg) repeat-x; 
    position: var(--value-absolute , absolute);
    bottom: -25px;
    width: 6400px;
    height: 100%;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}
  
.wave--second {
    bottom: -25px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}
  
@keyframes wave {

    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }

}
  
@keyframes swell {

    0%, 100% {
      transform: translateY(-25px);
    }
    50% {
      transform: translateY(5px);
    }

}

/* menuCloseAll Section */
.menuCloseAll.active {
    display: var(--value-none , none);
}

/* About Section */ 
.aboutGeneralContent {
    padding:var(--fs-padding-mobile ,  0 0.9375em);
}

.aboutGeneralContent__span {
    font-style: var(--value-italic , italic);
}

.aboutGeneralContent__img {
    display: var(--value-none , none);
} 

.aboutContent {
    padding:var(--fs-padding-mobile ,  0 0.9375em);
}

.aboutContentContainer {
    margin-bottom:3.125em;
}

.aboutContentContainer__paragraph--hide {
    display: var(--value-none , none);
}

.aboutContentImg {
    display: var(--value-none , none);
}

/* information Section */
.informationContent {
    padding:var(--fs-padding-mobile ,  0 0.9375em);
    display: var(--value-flex , flex);
    flex-direction: var(--value-column , column);
    align-items: var(--value-center , center);
    gap: 3.125em;
}

.informationContent__title {
    text-transform: var(--value-uppercase , uppercase);
}

.informationContentContainers {
    display: var(--value-grid , grid);
    gap: 25px;
}

.informationContentContainer {
    display: var(--value-flex);
    flex-direction: var(--value-column , column);
    align-items: center;
    gap: 20px;
    padding: 2.5em 10px;
    border: 1px solid #F5F5F505;
    background-color: #25252567;
    border-radius: 10px;
    max-width: 400px;
}

.informationContentContainer__img {
    width: 3.125rem;
    margin: var(--fs-zero , 0) var(--value-auto , auto);
}

.informationContentContainer__title {
    margin: var(--fs-zero , 0);
    font-size: var(--fs-informationTitle-mobile , 1.75rem);
    text-transform: var(--value-uppercase , uppercase);
}

.informationContentContainer__paragraph {
    margin: var(--fs-zero , 0);
    text-align: var(--value-center , center);
}

/* Work Section */
.work {
    padding:var(--fs-padding-mobile ,  0 0.9375em);
}
.workTitles {
    margin-top: 6.25em;
}

.workTitles__title {
    text-align: var(--value-center , center);
    margin: var(--fs-zero , 0);
}

.workTitles__title--italic {
    font-style: var(--value-italic , italic);
    margin-bottom: 2.125em;
} 

.workProjects {
    display: var(--value-grid , grid);
    gap: 3.125em;
}

.workProject {
    display: var(--value-flex , flex);
    flex-direction: var(--value-column , column);
}

.workProject__title {
    margin-bottom: 0.625em;
    text-transform: var(--value-uppercase , uppercase);
}

.workProject__img {
    height: 400px;
    object-fit: var(--value-cover , cover);
    transition: filter .5s;
    border-radius: 5px;
}

.workProject__img:hover {
    filter: grayscale(.5);
    
}

.workProject__img:hover .workProjectLinks{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: red;
    background-color: red;

}

.workProjectLinks {
    position: var(--value-relative , relative);
    display: var(--value-flex , flex);
    align-self: var(--value-flexEnd , flex-end);
    align-items: var(--value-center , center);
    justify-content: var(--value-center , center);
    margin-top: 0.625em;
    transition: .5s transform;
}

.workProjectLinks::after {
    position: var(--value-absolute , absolute);
    content: var(--value-content , "");
    bottom: -5px;
    left: var(--fs-zero , 0);
    width: var(--value-100Percent , 100%);
    height: 3px;
    background-color:  var(--green , #B4ED07);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: .5s clip-path ;
}

.workProjectLinks__link {
    text-transform: var(--value-uppercase , uppercase);
}

.workProjectLinks__linkArrow {
    margin: 0.1875em 0 0 0.625em;
    color: var(--text-color);
}

/* Footer / Contact Section */
.contact {
    position: var(--value-relative , relative);
    display: var(--value-flex , flex);
    align-items: var(--value-center , center);
    justify-content: var(--value-center , center);
    flex-direction: var(--value-column , column);
    gap: 25px;
    padding: var(--fs-padding-mobile);
    margin-top: 6.25rem;
}

.contactInformation {
    text-align: var(--value-center , center);
    max-width: 375px;
}

.contactInformation__logo {
    width: 100px;
    margin: 0 auto;
}

.links {
    text-align: var(--value-center , center);
}

.linksItems__item {
    margin-bottom: 15px;
}

.linksItems__link {
    color: var(--text-color);
    transition: .5s color;
}

.socialMediaList {
    display: var(--value-flex , flex);
    align-items: var(--value-center , center);
    justify-content: var(--value-center , center);
}

.socialMediaList__item {
    margin-right: 0.625em;
}

.socialMediaList__img {
    width: 25px;
    height: 25px;
    object-fit: var(--value-cover , cover);
    color: var(--text-color);
    transition: .5s color;
}

.contactCopyright {
    padding:0 0 25px 0;
    text-align: var(--value-center , center);
}

/* Tablet Size */
@media screen and (min-width:30em) {

    .heroContentContainer {
        text-align: var(--value-center , center);
        margin: var(--fs-zero , 0) var(--value-auto , auto);
    }

}

@media screen and (min-width:48em) {
    
    /* Font-size Section */
    .fs-title {
        font-size: var(--fs-title-tablet , 3.75rem);
    }

    .herotitle {
        font-size: var(--fs-heroTitle-tablet , 5rem);
    }

    /* Paragraph Section */
    .paragraph {
        font-size: var(--fs-paragraph-tablet , 1.1rem);
    }

    /* Marquee Section */
    .footerText {
        font-size: var(--fs-marquee-tablet , 2.25rem);
    }

    /* Header Section */
    .header {
        padding: var(--fs-padding-tablet , 0.625em 3.125em);
    }

    .heroContent {
        padding: var(--fs-padding-tablet , 0.625em 3.125em);
    }

    /* About Section */
    .aboutGeneralContent {
        padding: var(--fs-padding-tablet , 0.625em 3.125em);
    }

    .aboutContent {
        padding: var(--fs-padding-tablet , 0.625em 3.125em);
    }

    /* Information Section */
    .informationContent {
        padding: var(--fs-padding-tablet , 0.625em 3.125em);
    }
    
    .informationContentContainers {
        grid-template-columns: 1fr 1fr;
    }

    /* Work Section */
    .work {
        padding: var(--fs-padding-tablet , 0.625em 3.125em);
    }

    .workProjects {
        grid-template-columns: 1fr 1fr;
        gap: 4.6875em 1.875em;
    }

    .workProject__img {
        height: 375px;
    }

    /* Footer / Contact Section */
    /* .contact {
        padding:var(--fs-padding-tablet , 0.625em 3.125em) ;
        margin-top: 6.25em;
        gap: 50px;
    }

    .linksItems {
        display: var(--value-flex , flex);
    }
    
    .linksItems__item {
        margin-bottom: var(--fs-zero , 0);
        margin-right: 25px;
    } */

}

/* Portatil Size */
@media screen and (min-width:64em) {
    
    /* Header Section */
    .header {
        padding: var(--fs-padding-portatil , 0.625em 4.6875em);
    }

    .menuOpen {
        display: var(--value-none , none);
    } 

    .menuClose {
        display: var(--value-flex , flex);
        align-items: var(--value-center , center);
        gap: 3.75em;
        opacity: 1;
        transform: translate(0%);
    }

    .menuClose.active {
        position: var(--value-relative , relative);
        top: var(--value-initial , initial);
        left: var(--value-initial , initial);
        display: var(--value-flex , flex);
        flex-direction: var(--value-row , row);
        height: var(--value-auto , auto);
    }

    .list.active {
        display: var(--value-flex , flex);
        align-items: var(--value-center , center);
        flex-direction: var(--value-row , row);
    }

    .list__link {
        font-size: 1rem;
    }

    .list {
        display: var(--value-flex , flex);
        flex-direction: var(--value-row , row);
    }
    
    .list__item {
        margin-top: var(--fs-zero , 0);
        margin-left: 1.75em;
    }

    .darkMode {
        display: var(--value-block , block);
        height: 25px;
    }
    
    .darkMode__img {
        width: 25px;
    }

    .languages {
        display: var(--value-flex , flex);
        gap: 10px;
    }

    .flag {
        width: 25px;
        height: 25px;
    }

    .headerContent {
        padding: var(--fs-padding-portatil , 0.625em 4.6875em);
    }

    .herotitle {
        font-size: var(--fs-heroTitle-portatil , 6rem);
    }

    /* About Section */
    .aboutGeneralContent {
        position: var(--value-relative , relative);
        display: var(--value-flex , flex);
        align-items: var(--value-center , center);
        height: calc(100vh - 60px);
        padding: var(--fs-padding-portatil , 0.625em 4.6875em);
    }

    .aboutGeneralContent__title {
        z-index: 20;
        position: var(--value-absolute , absolute);
        left: 4.6875rem;
        max-width: 1000px;
        margin: var(--fs-zero , 0) var(--value-auto , auto);
        font-size: var(--fs-title-portatil);
    }

    .aboutGeneralContent__img {
        position: var(--value-absolute , absolute);
        right: 4.6875rem;
        display: var(--value-block , block);
    }

    .aboutContent {
        display: var(--value-grid , grid);
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        place-items: var(--value-center , center);
        height: calc(100vh - 60px);
        padding:0 4.6875em;
    }

    .aboutContentContainer {
        margin-bottom: var(--fs-zero);
    }

    .aboutContentContainer__paragraph {
        margin-bottom: 1.875em;
    }

    .aboutContentContainer__paragraph--hide {
        display: var(--value-block , block);
    }

    .aboutContentImg {
        display: var(--value-block , block);
    }

    /* Information Section */
    .informationContent {
        height: calc(100vh - 60px);
        padding: var(--fs-padding-portatil , 0.625em 4.6875em);
    }

    .informationContentContainers {
        grid-template-columns: repeat(3 , 1fr);
    }

    /* Work Section */
    .work {
        padding: var(--fs-padding-portatil , 0.625em 4.6875em);
    }

    .workProjects {
        grid-template-columns: 1fr 1fr 1fr;
    } 

    .workTitles__title--italic {
        margin-bottom: 1.5em;
    }

    /*  Footer / Contact Section*/
    /* .contact {
        padding: var(--fs-padding-portatil , 0.625em 4.6875em);
        margin-top: 6.25em;
    } */
    
}

/* Pc Size */
@media screen and (min-width:90em) {
    
}

@media screen and (hover: hover) {
    
    .list__link:hover::after {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .heroContentContainer__btn:hover {
        border: 1px solid var(--green , #B4ED07);
        background-color: var(--green , #B4ED07);
        color:#121212;
    }

    .socialMediaList__img:hover {
        color: var(--green , #B4ED07);
    }

    .workProjectLinks:hover::after {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    .workProjectLinks:hover {
        transform: translateX(-0.3125em);
    }

    .linksItems__link:hover {
        color: var(--green);
    }

    /* .arrow:hover {
        border-color: var(--green);
        box-shadow: 0.5vmin -0.5vmin 0 white;
    }

    .contactInformation__btn:hover {
        color:#121212;
        border: 1px solid var(--green , #B4ED07);
        background-color: var(--green , #B4ED07);
        border-radius: 1.875em;
        font-style: var(--value-italic , italic);
    } */
    
}

