:root {
    --black:#121212;
    --white:#F5F5F5;
    --lightWhite:#cacaca;
    --green:#B4ED07;

    /* --purple:#B833FF; */

    --fs-zero:0;
    --fs-16px:16px;
    --fs-scrollText-mobile:0.75rem;
    --fs-informationTitle-mobile:1.75rem;
    --fs-marquee-mobile:1.875rem;
    --fs-marquee-tablet:2.25rem;
    --fs-menuLink-mobile:3rem;
    --fs-contactStrong:2.1875rem;
    --fs-title-mobile:3.125rem;
    --fs-title-tablet:3.75rem;
    --fs-title-portatil:4.5rem;
    --fs-heroTitle-tablet:5rem;
    --fs-paragraph-tablet:1.1rem;
    --fs-padding-mobile: 0 0.9375em;
    --fs-padding-tablet: 0.625em 3.125em;
    --fs-padding-portatil: 0.625em 4.6875em;

    --ff-titles:'Roboto', sans-serif;
    --ff-paragraph:'Rubik', sans-serif;

    --value-relative:relative;
    --value-absolute:absolute;
    --value-fixed:fixed;
    --value-auto:auto;
    
    --value-flex:flex;
    --value-grid:grid;
    --value-block:block;
    --value-inline-block:inline-block;
    --value-column:column;
    --value-row:row;
    --value-space-between:space-between;
    --value-space-around:space-around;
    --value-flexEnd:flex-end;
    --value-center:center;
    
    --value-none:none;
    --value-hidden:hidden;
    --value-uppercase:uppercase;
    --value-italic:italic;
    --value-cover:cover;
    --value-transparent:transparent;
    --value-initial:initial;
    --value-content:"";

    --value-lineHeight:1.5;
    --value-100Percent:100%;
}

@media screen and (prefers-color-scheme: dark) {
    
    :root {
        --text-color:var(--white);
        --page-background-color:var(--black);
    }

}

@media screen and (prefers-color-scheme: light) {
    
    :root {
        --page-background-color:var(--lightWhite);
        --text-color:var(--black );
    }

}

* , ::before , ::after {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: var(--fs-16px , 16px);
    font-family: var(--ff-paragraph , 'Rubik');
    background-color: var(--page-background-color);
}

img {
    display: var(--value-block , block);
    max-width: var(--value-100Percent , 100%);
}

ul {
    margin: var(--fs-zero , 0);
    padding-left: var(--fs-zero , 0);
}

li {
    list-style-type: var(--value-none , none);
}

a {
    text-decoration: var(--value-none , none);
}

h1 {
    font-family: var(--ff-titles , 'Roboto');
}

h2 {
    font-family: var(--ff-titles , 'Roboto');
}

h3 {
    font-family: var(--ff-titles , 'Roboto');
} 

strong {
    display: var(--value-block , block);
}

/* Colors and Background-color Section */
.color--white {
    color: var(--text-color);
}

.backgroundColor--black {
    background-color: var(--page-background-color);
}

.color--green {
    color: var(--green , #B4ED07);
}

/* font-size Section */
.fs-title {
    font-size: var(--fs-title-mobile , 3.125rem);
}
.list__link {
    font-size: var(--fs-menuLink-mobile , 3rem);
}

.scrollZone__text {
    font-size: var(--fs-scrollText-mobile , 0.75rem);
}

/* font-family Section */
.loading__letter {
    font-family: var(--ff-paragraph , 'Rubik');
}

.list__link {
    font-family: var(--ff-titles , 'Roboto');
}

/* paragraph Section */
.paragraph {
    line-height: var(--value-lineHeight , 1.5);
}

/* Marquee Section */
.footerContainer{
    position: var(--value-relative , relative);
    padding: 6.25em 0 3.125em 0;
    overflow: var(--value-hidden , hidden);
}

.footerFather {
    position: var(--value-absolute , absolute);
    top:6.25em;
    left:-100%;
    display:var(--value-flex , flex);
    justify-content:var(--value-space-around , space-around);
    width:200%;
    padding: 0.625em;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    white-space: nowrap;
    overflow: var(--value-hidden , hidden);
    transform:translate(0 , -50%);
    animation: marquee 7s linear infinite forwards;
}
 
.workFooter {
    top: 7.8125em;
}

.footerText {
    font-size: var(--fs-marquee-mobile , 1.875rem);
    text-transform: var(--value-uppercase , uppercase);
}

@keyframes marquee {

    0% {
      left:var(--fs-zero , 0);
    }
    
    100% {
      left:-100%;
    }
}

/* Arrow Animation Section */
.arrowAnimation { 
    margin-bottom: 0.5625em;
    animation: arrowAnimation 1s ease-in-out infinite;
}

@keyframes arrowAnimation {

    0% , 100%{
        transform: translateX( var(--fs-zero , 0));
    }

    50% {
        transform: translateX( 0.625em);

    }
}

/* LoaderContainer CSS */
.loaderContainer {
    display: var(--value-flex , flex);
    align-items: var(--value-center , center);
    justify-content: var(--value-center , center);
    flex-direction: var(--value-column , column);
    height: 100vh;
}

/* Loading CSS */
.loading__letter  {
    display: var(--value-inline-block , inline-block);
    margin: 0 0.3125em;
    animation: blur-text .5s 0s infinite linear alternate;
    letter-spacing: 3px;
}

@keyframes blur-text {
    0% {
        filter: blur(var(--fs-zero , 0));
   }
    100% {
        filter: blur(1.75px);
   }
}

/* Hero Section */
.hero {
    position: var(--value-relative , relative);
    display: var(--value-flex , flex);
    height: 100vh;
    padding: var(--fs-padding-mobile);
}

.header {
    z-index: 300;
    position:  var(--value-fixed , fixed);
    top: var(--fs-zero , 0) ;
    left: var(--fs-zero , 0);
    display: var(--value-flex , flex);
    justify-content: var(--value-space-between , space-between);
    align-items: var(--value-center , center);
    width: var(--value-100Percent , 100%);
    padding: 0.625em 0.9375em;
    border-bottom: 1px solid var(--text-color);
    background: var(--page-background-color);
}

.logo__img {
    width: 40px;
    height: 40px;
}

.languages {
    display: var(--value-none , none);
}

.flag {
    width: 50px;
    height: 50px;
    object-fit: var(--value-cover , cover);
}

.menuOpen {
    z-index: 500;
    position: var(--value-relative , relative);
}

.menu-toggle {
    position: var(--value-relative , relative);
    width: 25px;
    height: 25px;
    background-color: var(--value-transparent , transparent);
    transition: 0.25s ease-in-out;
}

.hamburger {
    position: var(--value-absolute , absolute);
    top: var(--fs-zero , 0);
    left: var(--fs-zero , 0);
    display: var(--value-flex , flex);
    justify-content: var(--value-center , center);
    align-items: var(--value-center , center);
    flex-direction: var(--value-column , column);
    width: var(--value-100Percent , 100%);
    height: var(--value-100Percent , 100%);
}

.bar {
    display: var(--value-block , block);
    border-radius: 2px;
    background-color: var(--text-color);
}

.bar--hamburger {
    width: 25px;
    height: 2px;
    margin: 7px 0 0 0;
    transition: 0.25s ease-in-out;
}

.hamburger .bar--first {
    margin-top: 0 ;
    transition-delay: 0.5s;
}

.bar--hamburgerSecond {
    transition-delay: 0.625s;
}

.bar--hamburgerThird {
    transition-delay: 0.75s;
}

.cross {
    position: var(--value-absolute , absolute);
    width: var(--value-100Percent , 100%);
    height: var(--value-100Percent , 100%);
    transform: rotate(45deg);
}
.bar--crossFirst {
    position: var(--value-absolute , absolute);
    left: 11.45px;
    top: var(--fs-zero , 0);
    width: 2px;
    height: var(--fs-zero , 0);
    transition-delay: 0s;
    transition: 0.25s ease-in-out;
}
.bar--crossSecond {
    position: var(--value-absolute , absolute);
    top: 11.45px;
    right: var(--fs-zero , 0);
    width: var(--fs-zero , 0);
    height: 2px;
    transition-delay: 0.25s;
    transition: 0.25s ease-in-out;
}

/* menuClose Section */
.menuClose {
    position: var(--value-relative , relative);
    transform: translate(-100%);
    opacity: 0;
}

.list {
    display: var(--value-none , none);
}

.list.active {
    display: var(--value-flex , flex);
    flex-direction: var(--value-column , column);
}

.list__item {
    text-align:  var(--value-center , center);
    margin-top: 3.125em;
}

.list__link {
    position: var(--value-relative , relative);
    text-transform: var(--value-uppercase , uppercase);
}

.darkMode {
    display: var(--value-none , none);
}

.darkMode__img {
    width: 50px;
    cursor: pointer;
}

/* heroContent Section */
.heroContent {
    align-self: var(--value-center , center);
    justify-self: var(--value-center , center);
    width: 100%;
}

.heroContentContainer {
    z-index: 10;
    max-width: 750px;
}

.herotitle {
    line-height: 1.25;
}

.heroContentContainer__btn {
    display: var(--value-inline-block , inline-block);
    margin-top: 1.25em;
    padding: 0.75em 1.875em;
    color: var(--green , #B4ED07);
    border: 1px solid var(--green , #B4ED07);
    border-radius: 1.875em;
    font-style: var(--value-italic , italic);
    transition-duration: .5s;
    transition-property: color , background-color;
}

/* SocialMedia Section */
.socialMedia--hero {
    display: var(--value-none , none);
}

/* ScrollZone Section */
.scrollZone {
    position: var(--value-absolute , absolute);
    bottom: 0.625em;
    right: 0.9375em;
    display:  var(--value-flex , flex);
    align-items: var(--value-center , center);
    justify-content: var(--value-center , center);
}

.scrollZone__text {
    margin-right: 0.625em;
}

.arrowLink__img {
    rotate: 90deg;
    color: var(--text-color);
}

/* menuCloseAll Section */
.menuCloseAll {
    padding:var(--fs-padding-mobile ,  0 0.9375em);
}

/* about Section */ 
.aboutContentContainer__img {
    display: var(--value-none , none);
}

.aboutGeneralContent__span {
    font-style: var(--value-italic , italic);
}

.aboutGeneralContent__img {
    display: var(--value-none , none);
}

.aboutContent__paragraph--margin {
    margin-bottom: var(--fs-zero , 0);
}  

.aboutContent__paragraph--margin-bottom {
    margin-bottom:3.125em;
}

.aboutContent__paragraph--hide {
    display: var(--value-none , none);
}

/* information Section */
.information {
    display: var(--value-grid , grid);
    grid-template-areas: 
    "footerContainer"
    "informationContent";
}

.footerContainer {
    grid-area: footerContainer;
}

.informationContent {
    grid-area: informationContent;
}

.informationContent--padding {
    padding: 2.5em 0;
    border-bottom: 1px solid var(--text-color);

}
.informationParagraph { 
    margin: var(--fs-zero , 0);
}

.informationContentFirst__paragraph--hide {
    display: var(--value-none , none);
}

.informationContentContainer__paragraph {
    margin-top: 0.9375em;
}

.informationContentContainerTitles__number {
    margin-right: 0.625em;
}

.informationContentContainerTitles {
    display: var(--value-flex , flex);
    align-items: var(--value-center , center);
}

.informationContentContainerTitles__title {
    margin: var(--fs-zero , 0);
    font-size: var(--fs-informationTitle-mobile , 1.75rem);
    text-transform: var(--value-uppercase , uppercase);
}

/* work Section */
.workLink {
    margin-top: 6.25em;
}

.workLink__link {
    pointer-events: var(--value-none , none);
    cursor: default;
}

.work__title {
    text-align: var(--value-center , center);
    margin: var(--fs-zero , 0);
}

.work__title--italic {
    font-style: var(--value-italic , italic);
    margin-bottom: 3.125em;
} 

.workProjects {
    display: var(--value-grid , grid);
    gap: 3.125em;
}

.workProject {
    display: var(--value-flex , flex);
    flex-direction: var(--value-column , column);
}

.workProject__title {
    margin-bottom: 0.625em;
    text-transform: var(--value-uppercase , uppercase);
}

.workProject__img {
    height: 400px;
    object-fit: var(--value-cover , cover);
    filter: grayscale(.5);
}

.workProjectLinks {
    position: var(--value-relative , relative);
    align-self: var(--value-flexEnd , flex-end);
    margin-top: 0.625em;
    display: var(--value-flex , flex);
    align-items: var(--value-center , center);
    justify-content: var(--value-center , center);
    transition: .5s transform;
}

.workProject__link {
    text-transform: var(--value-uppercase , uppercase);
}

.workProject__arrow {
    margin-left: 0.625em;
    color: var(--text-color);
}

/* Quotes Section */
.quotesContainerTitles {
    margin-top: 3.125em;
}

.quotesContainer__title {
    text-align: var(--value-center , center);
    text-transform: var(--value-uppercase , uppercase);
    margin: var(--fs-zero , 0);
}

.quotesContainer__title--italic {
    text-transform: capitalize;
    font-style: var(--value-italic , italic);
}

.quotesContainer__title--margin-bottom {
    margin-bottom: 1.5625em;
}

.quotesContainerBoxs {
    margin: 6.25em 0 1.875em 0;
}

.quotesContainerBox--first {
    display: var(--value-block , block);
}

.quotesContainerBox--second {
    display: var(--value-none , none);
}

.quotesContainerBox--third {
    display: var(--value-none , none);
}

.quotesContainerBox--fourth {
    display: var(--value-none , none);
}

.quotesContainerBox--fifth {
    display: var(--value-none , none);
}

.quotesContainerContent {
    position: var(--value-relative , relative);
    text-align: var(--value-center , center);
    border-radius: 0.3125em;
    border: 1px solid  var(--text-color);
    padding: 1.25em 0.9375em;
}

.quotesContainer__img {
    width: 50px;
}

.quotesContainer__img--left {
    position: var(--value-absolute , absolute);
    top: -22px;
    left: 20px;
}

.quotesContainer__img--right {
    position: var(--value-absolute , absolute);
    bottom: -22px;
    right: 15px;
}

.quotesContainerArrows {
    display: var(--value-flex , flex);
    align-items: var(--value-center , center);
    justify-content: var(--value-center , center);
    gap: 1.875em;
}

.arrow {
    width: 3vmin;
    height: 3vmin;
    background-color: var(--value-transparent , transparent);
    border-top: 1vmin solid var(--text-color);
    border-right: 1vmin solid var(--text-color);
    box-shadow: 0 0 0 lightgray;
    transition: all .5s ease;
    cursor: pointer;
}

.arrow:before {
    content: var(--value-content , '');
    position: var(--value-absolute , absolute);
    top: 50%;
    left: 50%;
    transform: translate(-40%, -60%) rotate(45deg);
    width: 200%;
    height: 200%;
}

/* Contact Section */
.contact {
    margin: 6.25em 0 0 0;
    border-top: 1px solid var(--text-color);
}

.contactContainer {
    margin-top: 6.25em;
}

.contactContent {
    display: var(--value-none , none);
}

.contactInformation {
    display: var(--value-flex , flex);
    text-align: var(--value-center , center);
    flex-direction: var(--value-column , column);
    gap: 1.25em;
}

.contactInformation__strong {
    text-transform: var(--value-uppercase , uppercase);
    font-size: var(--fs-contactStrong , 1.875rem);
    margin-bottom: 1.5625em;
}

.contactInformation__btn {
    display: var(--value-block , block);
    padding: 0.75em;
    width: 80%;
    margin: var(--fs-zero , 0) var(--value-auto , auto);
    color: var(--green , #B4ED07);
    border: 1px solid var(--green , #B4ED07);
    border-radius: 1.875em;
    font-style: var(--value-italic , italic);
    transition-duration: .5s;
    transition-property: color , background-color;
}

.contactMoreInformation {
    text-align: var(--value-center , center);
    width: 80%;
    margin: 4.6875em auto;
}

.contactMoreInformation__img {
    width: 100px;
    margin: var(--fs-zero , 0) var(--value-auto , auto);
    object-fit: var(--value-cover , cover);
}

.contactMoreInformation__strong {
    text-transform: var(--value-uppercase , uppercase)
}

.contactMoreInformation__paragraph {
    margin: var(--fs-zero , 0);
}

/* Footer Section */
.socialMedia--footer {
    display: var(--value-block , block);
}

.socialMediaList {
    display: var(--value-flex , flex);
    align-items: var(--value-center , center);
    justify-content: var(--value-center , center);
}

.socialMediaList--footer {
    margin-bottom: 1.5625em;
}

.socialMediaList__item {
    margin-right: 0.625em;
}

.socialMediaList__img {
    width: 25px;
    height: 25px;
    object-fit: var(--value-cover , cover);
    color: var(--text-color);
    transition: .5s color;
}

.madeBy {
    display: var(--value-flex , flex);
    align-items: var(--value-center , center);
    justify-content: var(--value-center , center);
}

.madeBy__text {
    margin-right: 0.625em;
}

.nameLink {
    position: var(--value-relative , relative);
}

.madeBy__img {
    rotate: -90deg;
    margin-bottom: -0.5625em;
    color: var(--text-color);
}

/* Active Section */
.main.hide {
    display: var(--value-none , none);
}

.loaderContainer.active {
    display: var(--value-none , none);
}

.menuClose.active {
    z-index: 200;
    position: var(--value-absolute , absolute);
    top: var(--fs-zero , 0);
    left: var(--fs-zero , 0);
    display: var(--value-flex , flex);
    flex-direction: var(--value-column , column);
    align-items: var(--value-center , center);
    justify-content: var(--value-center , center);
    gap: 3.125em;
    width: var(--value-100Percent , 100%);
    height: 100vh;
    font-weight: 100;
    background-color:var(--page-background-color);
    opacity: 1;
    transform: translate(0);
    transition: transform 1s cubic-bezier(.62,.54,.76,.94) , opacity .5s cubic-bezier(.62,.54,.85,.72);
}

.menuCloseAll.active {
    display: var(--value-none , none);
}

.menu-toggle.open .bar--hamburger {
    width: var(--fs-zero , 0);
}
.menu-toggle.open .bar--first {
    transition-delay: var(--fs-zero , 0);
}
.menu-toggle.open .bar--hamburgerSecond{
    transition-delay: 0.125s;
}
.menu-toggle.open .bar--hamburgerThird{
    transition-delay: 0.25s;
}
.menu-toggle.open .bar--crossFirst{
    height: var(--value-100Percent , 100%);
    transition-delay: .825s;
}
.menu-toggle.open .bar--crossSecond {
    width: var(--value-100Percent , 100%);
    transition-delay: 1s;
}

.languages.active {
    display: var(--value-flex , flex);
    gap: 25px;
}

.darkMode.active {
    display: var(--value-flex , flex);
    align-items: center;
   
}

.arrow.left {
    left: 0;
    transform: translate3d(0, -50%, 0) rotate(-135deg);
}

.arrow.right {
    right: 0;
    transform: translate3d(0, -50%, 0) rotate(45deg);
}

/* Tablet Size */
@media screen and (min-width:30em) {

    /* Hero Section */
    .heroContentContainer {
        text-align: var(--value-center , center);
        margin: var(--fs-zero , 0) var(--value-auto , auto);
    }

    .socialMedia--hero {
        display: block;
        position: var(--value-absolute , absolute);
        bottom: 0.625em;
        left: 0.9375em;
    }

}

@media screen and (min-width:48em) {

    /* Font-size Section */
    .fs-title {
        font-size: var(--fs-title-tablet , 3.75rem);
    }

    .herotitle {
        font-size: var(--fs-heroTitle-tablet , 5rem);
    }

    /* Paragraph Section */
    .paragraph {
        font-size: var(--fs-paragraph-tablet , 1.1rem);
    }

    /* Marquee Section */
    .footerText {
        font-size: var(--fs-marquee-tablet , 2.25rem);
    }

    /* Header Section */
    .header {
        padding: var(--fs-padding-tablet , 0.625em 3.125em);
    }

    .heroContent {
        padding: var(--fs-padding-tablet , 0.625em 3.125em);
    }

    .heroContentContainer {
        text-align: var(--value-center , center);
    }

    .socialMedia--hero {
        display: var(--value-block , block);
        position: var(--value-absolute , absolute);
        bottom: 0.625em;
        left: 3.125em;
    }

    .scrollZone {
        right: 3.125em;
    }

    /* MenuCloseAll Section */
    .menuCloseAll {
        padding: var(--fs-padding-tablet , 0.625em 3.125em);
    }

    /* Information Section */
    .informationContentSecond {
        display: var(--value-grid , grid);
        grid-template-columns: 1fr 1fr;
        gap: 3.125em;
    }

    /* Work Section */
    .workProjects {
        grid-template-columns: 1fr 1fr;
        gap: 4.6875em 1.875em;
    }

    .workProject__img {
        height: 375px;
    }

    /* Quotes Section */
    .quotesContainerContent {
        width: 70%;
        margin: var(--fs-zero , 0) var(--value-auto , auto);
        padding: 3.125em;
    }

    .quotesContainerArrows {
        margin-top: 4.6875rem;
    }

    /* Contact Section */
    .contactInformation__btn {
        display: var(--value-inline-block , inline-block);
        width: var(--value-auto , auto);
        padding: 0.75em 1.875em;
    }

    .contactInformation__strong {
        width: 65%;
        margin: var(--fs-zero , 0)  var(--value-auto , auto);
        line-height: 1.25;
    }

}

/* Portatil Size */
@media screen and (min-width:64em) {

    /* Header Section */
    .header {
        padding: var(--fs-padding-portatil);
    }

    .menuOpen {
        display: var(--value-none , none);
    } 

    .menuClose {
        display: var(--value-flex , flex);
        align-items: var(--value-center , center);
        gap: 3.75em;
        opacity: 1;
        transform: translate(0%);
    }

    .menuClose.active {
        position: var(--value-relative , relative);
        top: var(--value-initial , initial);
        left: var(--value-initial , initial);
        display: var(--value-flex , flex);
        flex-direction: var(--value-row , row);
        height: var(--value-auto , auto);
    }

    .list.active {
        display: var(--value-flex , flex);
        align-items: var(--value-center , center);
        flex-direction: var(--value-row , row);
    }

    .list__link {
        font-size: 1rem;
    }

    .list {
        display: var(--value-flex , flex);
        flex-direction: var(--value-row , row);
    }
    
    .list__item {
        margin-top: var(--fs-zero , 0);
        margin-left: 1.75em;
    }

    .darkMode {
        display: var(--value-block , block);
        height: 25px;
    }
    
    .darkMode__img {
        width: 25px;
    }

    .languages {
        display: var(--value-flex , flex);
        gap: 10px;
    }

    .flag {
        width: 25px;
        height: 25px;
    }

    /* Hero Section */
    .hero {
        padding: var(--fs-padding-portatil);
    }

    .herotitle {
        font-size: 6rem;
    }
    
    .socialMedia--hero {
        left: 4.6875em;
    }

    .socialMediaList__item {
        margin-right: 0.825em;
    }

    .scrollZone {
        right: 4.6875em;
    }

    /* About Section */
    .aboutGeneral {
        height: calc(100vh - 125px);
    }
    
    .aboutGeneralContent {
        position: var(--value-relative , relative);
        display: var(--value-flex , flex);
        align-items: var(--value-center , center);
        justify-content: var(--value-center , center);
        height: 100%;
    }

    .aboutGeneralContent__title {
        position: var(--value-absolute , absolute);
        left: var(--fs-zero , 0);
        max-width: 1000px;
        margin: var(--fs-zero , 0) var(--value-auto , auto);
        font-size: var(--fs-title-portatil);
        line-height: 1.25;
        z-index: 20;
    }

    .aboutGeneralContent__img {
        position: var(--value-absolute , absolute);
        right: var(--fs-zero , 0);
        top: 50%;
        display: var(--value-block , block);
        transform: translateY(-50%);
    }

    /* ARREGLAR */
    .aboutContent {
        display: var(--value-grid , grid);
        grid-template-rows: .5fr 1fr;
        height: calc(100vh - 60px);
    }

    .aboutContentContainer {
        display: var(--value-flex , flex);
        gap: 1.5625em;
        flex-direction: var(--value-column , column);
        align-items: var(--value-center , center);
        justify-content: var(--value-center , center);
        width: 50%;
        height: 100%;
    }

    .aboutContent__container {
        display: var(--value-grid , grid);
        grid-template-columns: 1fr 1fr;
    }

    .aboutContentContainer__img {
        display: var(--value-block , block);
        align-items:var(--value-center , center);
        width: 300px;
        margin:  var(--value-auto , auto);
    }

    .aboutContentParagraph {
        align-self: var(--value-center , center);
    }

    .aboutContent__paragraph--hide {
        display: var(--value-block , block);
    }

    /* Information Section */






    

    /* .information {
        min-height: 100vh;
    } */

    /* .informationContentFirst__paragraph--hide {
        display: block;
    } */
    /* Work Section */
    /* Quotes Section */
    /* Contact Section */
    .contact {
        /* min-height: 100vh; */
    }
}

/* PC Size */
@media screen and (min-width:90em) {
    
    .body {
        max-width: 1440px;
        margin: var(--fs-zero , 0) var(--value-auto , auto);
    }

}

/* Before/After Section */
.list__link::after {
    position: var(--value-absolute , absolute);
    content: var(--value-content , "");
    bottom: -5px;
    left: var(--fs-zero , 0);
    width: var(--value-100Percent , 100%);
    height: 3px;
    background-color:  var(--green , #B4ED07);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: .5s clip-path ;
}

.nameLink::after {
    position: var(--value-absolute , absolute);
    content: var(--value-content , "");
    bottom: -5px;
    left: var(--fs-zero , 0);
    width: var(--value-100Percent , 100%);
    height: 3px;
    background-color:   var(--green , #B4ED07);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: .5s clip-path ;
}

.workProjectLinks::after {
    position: var(--value-absolute , absolute);
    content: var(--value-content , "");
    bottom: -5px;
    left: var(--fs-zero , 0);
    width: var(--value-100Percent , 100%);
    height: 3px;
    background-color:  var(--green , #B4ED07);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: .5s clip-path ;
}

@media screen and (hover: hover) {
    
    .list__link:hover::after {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .heroContentContainer__btn:hover {
        border: 1px solid var(--green , #B4ED07);
        background-color: var(--green , #B4ED07);
        color: var(--black , #121212);
    }

    .socialMediaList__img:hover {
        color: var(--green , #B4ED07);
    }

    .workProjectLinks:hover::after {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    .workProjectLinks:hover {
        transform: translateX(-0.3125em);
    }

    .nameLink:hover::after {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .arrow:hover {
        border-color: var(--green);
        box-shadow: 0.5vmin -0.5vmin 0 white;
    }

    .contactInformation__btn:hover {
        color: var(--black , #121212);
        border: 1px solid var(--green , #B4ED07);
        background-color: var(--green , #B4ED07);
        border-radius: 1.875em;
        font-style: var(--value-italic , italic);
    }
    
}
