:root {
    --dm-bg-body:#040506;
    --dm-bg-sections:#13181e;
    --dm-bg-buttons:#B4ED07;
    --dm-clr-primary:#B4ED07;
    --dm-clr-secondary:#F5F5F5;
    --dm-bg-header:#13181e;
    --dm-clr-heroButton:#13181e;
    --dm-boxShadow-heroButton:#b3ed0749;
    --dm-boxShadow-buttons:#b3ed0749;
    --dm-bg-footer:#00000081;
    --dm-clr-lineForm: radial-gradient(circle at 50% 50%, #faff46 0, #dafd30 25%, #b4ed06 50%, #8cdd00 75%, #63d000 100%);
    --lm-bg-body:#f5f5f5;
    --lm-bg-sections:#131a35;
    --lm-bg-buttons:#ec6d33;
    --lm-clr-primary:#ec6d33;
    --lm-clr-secondary:#121933;
    --lm-bg-header:#13181e;
    --lm-clr-heroButton:#f5f5f5;
    --lm-boxShadow-heroButton:#ec6d33;
    --lm-boxShadow-buttons:#ec6d3350;
    --lm-bg-footer:#00000081;
    --white:#F5F5F5;
    --borderWhite:#F5F5F505;
    --dm-clr-titleDecoration: #f5f5f5;
    --lm-clr-lineForm: radial-gradient(circle at 50% 50%, #ff9a49 0, #f8863f 25%, #ec6d32 50%, #e05228 75%, #d73825 100%);
    --lm-clr-titleDecoration:#040506;

    --fs-zero:0;
    --fs-16px:16px;

    --fs-title-mobile:3rem;
    --fs-title-tablet:3.75rem;
    --fs-title-portatil:4rem;
    --fs-heroTitle-mobile:3.125rem;
    --fs-heroTitle-tablet:5rem;
    --fs-heroTitle-portatil:5rem;
    --fs-paragraph-tablet:1.1rem;
    --fs-paragraph-portatil:1.2rem;
    --fs-marquee-mobile:1.5rem;
    --fs-marquee-tablet:1.75rem;
    --fs-marquee-portatil:2.25rem;
    --fs-aboutTitle-mobile:1.75rem;
    --fs-aboutTitle-portatil:3.75rem;
    --fs-stepsTitle-mobile:1.75rem;
    --fs-stepsTitle-portatil:2rem;
    --fs-informationTitle-mobile:1.75rem;
    --fs-informationTitle-portatil:2rem;
    --fs-workTitle-mobile:1.5rem;
    --fs-workTitle-tablet: 1.5rem;
    --fs-workTitle-portatil:1.75rem;
    --fs-asideAndFormTitle-mobile:1.75rem;
    --fs-asideAndFormTitle-portatil:2.25rem;
    --fs-padding-mobile: 0 0.9375em;
    --fs-padding-tablet: 0.625em 3.125em;
    --fs-padding-portatil: 0.625em 4.6875em;
    --fs-margin-mobile: 175px auto;
    --fs-menuLink-mobile:1.75rem;
    --fs-menuLink-tablet:3rem;
    --fs-menuLink-portatil:3rem;


    --ff-titles:'Signika Negative', sans-serif;
    --ff-paragraph:'Inter', sans-serif;

    --value-relative:relative;
    --value-absolute:absolute;
    --value-fixed:fixed;

    --value-flex:flex;
    --value-grid:grid;
    --value-block:block;
    --value-inline-block:inline-block;
    --value-column:column;
    --value-row:row;
    --value-space-between:space-between;
    --value-space-around:space-around;
    --value-flexEnd:flex-end;
    --value-center:center;

    --value-none:none;
    --value-hidden:hidden;
    --value-auto:auto;
    --value-uppercase:uppercase;
    --value-italic:italic;
    --value-cover:cover;
    --value-transparent:transparent;
    --value-initial:initial;
    --value-content:"";

    --value-lineHeight:1.5;
    --value-100Percent:100%;

}

@media screen and (prefers-color-scheme: dark) {

    :root {
        --bg-body:var(--dm-bg-body);
        --bg-sections:var(--dm-bg-sections);
        --bg-buttons:var(--dm-bg-buttons);
        --bg-header:var(--dm-bg-header);
        --bg-footer:var(--dm-bg-footer);
        --clr-heroButton:var(--dm-clr-heroButton);
        --clr-primary:var(--dm-clr-primary);
        --clr-secondary:var(--dm-clr-secondary);
        --boxShadow-heroButton:var(--dm-boxShadow-heroButton);
        --boxShadow-buttons:var(--dm-boxShadow-buttons);
        --clr-titleDecoration:var(--lm-clr-titleDecoration);
        --clr-lineForm:var(--dm-clr-lineForm);
    }

}

@media screen and (prefers-color-scheme: light) {

    :root {
        --bg-body:var(--lm-bg-body);
        --bg-sections:var(--lm-bg-sections);
        --bg-buttons:var(--lm-bg-buttons);
        --bg-header:var(--lm-bg-header);
        --bg-footer:var(--lm-bg-footer);
        --clr-heroButton:var(--lm-clr-heroButton);
        --clr-primary:var(--lm-clr-primary);
        --clr-secondary:var(--lm-clr-secondary);
        --boxShadow-heroButton:var(--lm-boxShadow-heroButton);
        --boxShadow-buttons:var(--lm-boxShadow-buttons);
        --clr-titleDecoration:var(--dm-clr-titleDecoration);
        --clr-lineForm:var(--lm-clr-lineForm);
    }

}

.white-mode {
    --bg-body:var(--lm-bg-body);
    --bg-sections:var(--lm-bg-sections);
    --bg-buttons:var(--lm-bg-buttons);
    --bg-header:var(--lm-bg-header);
    --bg-footer:var(--lm-bg-footer);
    --clr-heroButton:var(--lm-clr-heroButton);
    --clr-primary:var(--lm-clr-primary);
    --clr-secondary:var(--lm-clr-secondary);
    --clr-lineForm:var(--lm-clr-lineForm);
    --boxShadow-heroButton:var(--lm-boxShadow-heroButton);
    --boxShadow-buttons:var(--lm-boxShadow-buttons);
    --clr-titleDecoration:var(--dm-clr-titleDecoration);
}

.dark-mode {
    --bg-body:var(--dm-bg-body);
    --bg-sections:var(--dm-bg-sections);
    --bg-buttons:var(--dm-bg-buttons);
    --bg-header:var(--dm-bg-header);
    --bg-footer:var(--dm-bg-footer);
    --clr-heroButton:var(--dm-clr-heroButton);
    --clr-primary:var(--dm-clr-primary);
    --clr-secondary:var(--dm-clr-secondary);
    --clr-lineForm:var(--dm-clr-lineForm);
    --boxShadow-heroButton:var(--dm-boxShadow-heroButton);
    --boxShadow-buttons:var(--dm-boxShadow-buttons);
    --clr-titleDecoration:var(--lm-clr-titleDecoration);
}

* , ::before , ::after {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: var(--fs-16px );
    font-family: var(--ff-paragraph );
    background-color: var(--bg-body);
}

body::-webkit-scrollbar {
    width:10px;
}

body::-webkit-scrollbar-track {
    background-color: var(--lm-clr-secondary);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--clr-primary);
    border-radius: 5px;
}

img {
    display: var(--value-block);
    max-width: var(--value-100Percent);
}

ul {
    margin: var(--fs-zero);
    padding-left: var(--fs-zero);
}

li {
    list-style-type: var(--value-none);
}

a {
    text-decoration: var(--value-none);
}

h1 {
    font-family: var(--ff-titles);
}

h2 {
    font-family: var(--ff-titles);
}

h3 {
    font-family: var(--ff-titles );
}

strong {
    display: var(--value-block);
}

.main.hide {
    display: var(--value-none);
}

/* Colors and Background-color Section */
.color--white {
    color: var(--clr-secondary);
}

.backgroundColor--black {
    background-color: var(--bg-body);
}

.color--green {
    color: var(--clr-primary);
}

/* font-size Section */
.fs-title {
    font-size: var(--fs-title-mobile);
    margin: 0 0 50px 0;
}

/* font-family Section */
.loading__letter {
    font-family: var(--ff-paragraph);
}

/* paragraph Section */
.paragraph {
    line-height: var(--value-lineHeight , 1.5);
    font-weight: 300;
}

/* LoaderContainer CSS */
.loaderContainer {
    display: var(--value-flex , flex);
    align-items: var(--value-center , center);
    justify-content: var(--value-center , center);
    flex-direction: var(--value-column , column);
    height: 100vh;
}

.loaderContainer.active {
    display: var(--value-none , none);
}

.loading__letter  {
    display: var(--value-inline-block , inline-block);
    margin: 0 0.3125em;
    font-size: 1.25rem;
    letter-spacing: 3px;
    animation: blur-text .5s 0s infinite linear alternate;
}

@keyframes blur-text {
    0% {
        filter: blur(var(--fs-zero , 0));
   }
    100% {
        filter: blur(1.75px);
   }
}

/* Animations DarkMode */
.transitionColor {
    transition: color .6s linear;
}

/* Arrow Section */
.arrow {
    opacity: var(--fs-zero);
    position: var(--value-fixed , fixed);
    bottom: 3.75em;
    right: 0.9375em;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color:#0a0a0a ;
    border-radius: 50%;
    z-index: 150;
    cursor: pointer;
    transform: translateY(100px);
    transition: opacity .5s , box-shadow .2s;
}

.arrow.active {
    display:var(--value-flex);
    justify-content: var(--value-center);
    transform: translateY(0);
    opacity: 0.9;
}

.arrow__img {
    fill: var(--white);
    transition: .5s color;
    margin-top: 7.5px;
}

/* Marquee Section */
.footerContainer{
    position: var(--value-relative , relative);
    padding: 3.125rem 0 3.125rem 0;
    overflow: var(--value-hidden , hidden);
}

.footerFather {
    position: var(--value-absolute);
    left:-100%;
    display:var(--value-flex);
    justify-content:var(--value-space-around);
    width:200%;
    padding: 0.625em;
    border-top: 2px solid var(--clr-secondary);
    border-bottom: 2px solid var(--clr-secondary);
    white-space: nowrap;
    overflow: var(--value-hidden , hidden);
    transform:translate(0 , -50%);
    animation: marquee 7s linear infinite forwards;
}

.footerText {
    font-size: var(--fs-marquee-mobile );
    text-transform: var(--value-uppercase , uppercase);
}

@keyframes marquee {

    0% {
      left:var(--fs-zero , 0);
    }

    100% {
      left:-100%;
    }
}

/* ProgressBar Section */
.progressBar {
    position: var(--value-fixed);
    top: 64px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--value-transparent);
    z-index: 600;
    transition: .5s background-color;
}

.progressBar.addColor {
    background-color: var(--bg-header);
}

.progressBar__element {
    background-color: var(--clr-primary);
    height: 100%;
    width: 100%;
}

/* Hero Section */
.hero {
    position: var(--value-relative);
    height: 100vh;
    width: 100%;
    padding: var(--fs-padding-mobile);
    display: var(--value-flex);
    align-items: var(--value-center);
    justify-content: var(--value-center);
}

.submenu {
    display: var(--value-none);
}

.header {
    z-index: 300;
    position:  var(--value-fixed , fixed);
    top: var(--fs-zero);
    left: var(--fs-zero);
    right: var(--fs-zero);
    padding: 0.625em 0.9375em;
    background-color: var(--value-transparent);
    transition: .5s background-color , .2s border-bottom;
}

.header.addColor {
    background-color: var(--bg-header);
    border-bottom: 2px solid var(--white);
}

.headerContainer {
    display: var(--value-flex , flex);
    justify-content: var(--value-space-between , space-between);
    align-items: var(--value-center , center);
    width: 100%;
    max-width: 1290px;
    margin: var(--fs-zero) var(--value-auto);
}

.headerLogo {
    display: var(--value-flex);
    align-items: var(--value-center , center);
    gap: 10px;
}

.header__logo {
    width: 40px;
    height: 40px;
}

.header__logoTitle {
    color: var(--clr-secondary);
    text-transform: var(--value-uppercase);
    font-weight: bold;
}

.header__logoTitle.addColor {
    color: var(--dm-clr-secondary);
}

.header__logoTitle.active {
    filter: blur(5px);
}

.header__logo.active {
    filter: blur(5px);
}

.nav {
    display: var(--value-none);
}

.menu {
    height: 45px;
    width: 45px;
}

.hamburger {
    transform: scale(.8);
    fill: var(--clr-secondary);
    cursor: pointer;
}

.hamburger.active {
    display: var(--value-none);
}

.hamburger.addColor {
    fill: var(--dm-clr-secondary);
}

/* menuClose Section */
.menuClose {
    z-index: 200;
    position: var(--value-absolute , absolute);
    top: var(--fs-zero , 0);
    left: var(--fs-zero , 0);
    width: var(--value-100Percent);
    height: 100vh;
    max-height: 100vh;
    background-color:var(--value-transparent);
    transform: translateX(100%);
    opacity: var(--fs-zero , 0);
    transition: transform .8s cubic-bezier(.62,.54,.76,.94) , opacity .5s cubic-bezier(.62,.54,.85,.72);
    font-weight: 100;
}

.menuClose.active {
    opacity: 1;
    transform: translateX(0);
}

.menuCloseContainerLeft {
    display: var(--value-none);
}

.menuCloseContainerRight {
    display: var(--value-grid);
    grid-template-columns: .15fr .85fr;
    height: 100vh;
    background-color: var(--bg-header);
}

.menuCloseContainerRightMarquee {
    background-color: var(--clr-primary);
    position: var(--value-relative , relative);
    overflow: var(--value-hidden , hidden);
}

.menuCloseContainerRightMarqueeContainer {
    /* position: var(--value-absolute , absolute); */
    /* top:-100%; */
    /* display:var(--value-flex , flex); */
    /* justify-content:var(--value-space-around , space-around); */
    /* height: 200%; */
    /* padding: 0.625em;    */
    /* border-top: 2px solid var(--clr-secondary); */
    /* border-bottom: 2px solid var(--clr-secondary); */
    white-space: nowrap;
    /* overflow: var(--value-hidden , hidden); */
    /* transform:translate(-50 ,0); */
    transform: rotate(90deg);
    /* animation: marqueeMenu 7s linear infinite forwards; */
}

/*
.footerFather {
    position: var(--value-absolute , absolute);
    left:-100%;
    display:var(--value-flex , flex);
    justify-content:var(--value-space-around , space-around);
    width:200%;
    padding: 0.625em;
    border-top: 2px solid var(--clr-secondary);
    border-bottom: 2px solid var(--clr-secondary);
    white-space: nowrap;
    overflow: var(--value-hidden , hidden);
    transform:translate(0 , -50%);
    animation: marquee 7s linear infinite forwards;
}
*/

@keyframes marqueeMenu {

    0% {
        left:var(--fs-zero , 0);
      }

    100% {
        left:-100%;
      }

}

.menuCloseContainerRightMarqueeContainer__span {
    font-size: var(--fs-marquee-mobile );
    color: var(--lm-clr-secondary);
    text-transform: var(--value-uppercase , uppercase);
}

.menuCloseContainerRightContainer {
    display: var(--value-grid);
    grid-template-rows: .15fr .7fr .15fr;
}

.menuCloseContainerRightHeader {
    position: var(--value-relative);
    display: var(--value-flex);
    align-items: var(--value-center);
    justify-content: var(--value-space-between);
    overflow: var(--value-hidden);
}

.menuCloseContainerRightHeader::after {
    position: var(--value-absolute);
    content: var(--value-content);
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--clr-primary);
    transform: translateX(-100%);
    transition: .5s .8s transform;
}

.menuCloseContainerRightHeader.active::after {
    transform: translateX(0);
}

.menuCloseContainerRightHeader__link {
    padding-left: 15px;
    color: var(--dm-clr-secondary);
    font-size: 1.75rem;
    font-family: var(--ff-titles);
    text-transform: var(--value-uppercase);
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity .7s 1s , transform .7s 1s ;
}

.menuCloseContainerRightHeader__link.active {
    opacity: 1;
    transform: translateY(0);
}

.close {
    fill: var(--dm-clr-secondary);
    margin-right: 5px;
    cursor: pointer;
    scale: .8;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity .7s 1s , transform .7s 1s ;
}

.close.active {
    opacity: 1;
    transform: translateY(0);
}

.menuCloseContainerRightList {
    display: var(--value-flex);
    flex-direction: var(--value-column);
    justify-content: var(--value-center);
    padding-left: 15px;
    overflow: var(--value-hidden);
}

.menuCloseContainerRightList__item--aboutUs {
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity .7s 1s , transform .7s 1s ;
}

.menuCloseContainerRightList__item--aboutUs.active {
    opacity: 1;
    transform: translateY(0);
}

.menuCloseContainerRightList__item--steps {
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity .7s 1.1s , transform .7s 1.1s ;
}

.menuCloseContainerRightList__item--steps.active {
    opacity: 1;
    transform: translateY(0);
}

.menuCloseContainerRightList__item--services {
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity .7s 1.2s , transform .7s 1.2s ;
}

.menuCloseContainerRightList__item--services.active {
    opacity: 1;
    transform: translateY(0);
}

.menuCloseContainerRightList__item--work {
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity .7s 1.3s , transform .7s 1.3s ;
}

.menuCloseContainerRightList__item--work.active {
    opacity: 1;
    transform: translateY(0);
}

.menuCloseContainerRightList__item--contact {
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity .7s 1.4s , transform .7s 1.4s ;
}

.menuCloseContainerRightList__item--contact.active {
    opacity: 1;
    transform: translateY(0);
}

.menuCloseContainerRightList__item {
    margin-bottom: 20px;
    overflow: var(--value-hidden);
}

.menuCloseContainerRightList__link {
    color: var(--dm-clr-secondary);
    text-transform: var(--value-uppercase);
    font-size: var(--fs-menuLink-mobile);
    overflow: var(--value-hidden);
}

.menuCloseContainerRightList__span {
    position: var(--value-relative);
    display:inline-block;
    transition: .4s .1s transform , .4s color;
}

.menuCloseContainerRightList__span::before {
    position: var(--value-absolute);
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0,0,0);
}

.menuCloseContainerRightList__span:hover {
    transform: translateY(-100%);
    color: var(--clr-primary)
}

.menuCloseContainerRightFooter {
    position: var(--value-relative);
    display: var(--value-flex);
    align-items: var(--value-center);
    justify-content: flex-end;
    overflow: var(--value-hidden);
}

.menuCloseContainerRightFooter::after {
    position: var(--value-absolute);
    content: var(--value-content);
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--clr-primary);
    transform: translateX(-100%);
    transition: .5s .8s transform;
}

.menuCloseContainerRightFooter.active::after {
    transform: translateX(0);
}

.menuCloseContainerRightFooter__darkMode {
    margin-right: 15px;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity .7s 1.5s , transform .7s 1.5s ;
}

.menuCloseContainerRightFooter__darkMode.active {
    opacity: 1;
    transform: translateY(0);
}

.darkMode {
    --width:50px;
    --height:calc( var(--width) / 2);
    --border-radius:calc(var(--height) / 2);

    display: var(--value-inline-block);
    cursor: pointer
}

.darkMode__input {
    display: var(--value-none);
}

.darkMode__fill {
    position: var(--value-relative);
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background-color: var(--clr-primary);
    transition: background-color .2s;
}

.darkMode__input:checked ~ .darkMode__fill{
    background-color:var(--clr-primary);
}

.darkMode__fill::after {
    position: var(--value-absolute);
    top: var(--fs-zero);
    left: var(--fs-zero);
    height: var(--height);
    width: var(--height);
    content: var(--value-content);
    background-color: var(--dm-clr-secondary);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
    border-radius: var(--border-radius);
    outline: 1px solid #1219335b;
    transition: transform .2s;
}

.darkMode__input:checked ~ .darkMode__fill::after {
    transform: translateX(var(--height));
}

.darkModeContainer__span {
    color: var(--clr-secondary);
}

.darkModeContainer__span.addColor {
    color: var(--dm-clr-secondary);
}

.languages {
    display: var(--value-none , none);
}

.languages.active {
    display: var(--value-flex , flex);
    gap: 25px;
}

.flag {
    width: 50px;
    height: 50px;
    object-fit: var(--value-cover , cover);
}

/* heroContent Section */

.heroContent.active {
    filter: blur(10px);
}

.heroContentContainer {
    z-index: 10;
    /* max-width: 750px; */
}

.herotitle {
    font-size: var(--fs-heroTitle-mobile);
    line-height: 1.25;
}

.herotitleSpan__letters {
    display: inline-block;
    animation: waviy 2.5s infinite;
    animation-delay: calc(.1s * var(--i));
    letter-spacing: -15px;
}

@keyframes waviy {

    0%,40%,100% {
      transform: translateY(0)
    }

    20% {
      transform: translateY(-10px)
    }
}

.heroContentContainer__btn {
    position: var(--value-relative , relative , relative);
    display: var(--value-inline-block , inline-block);
    margin-top: 25px;
    padding: 1em 2em;
    border-radius: 50px;
    box-shadow: 1px 1px 15px var(--boxShadow-buttons);
    color: var(--dm-clr-heroButton);
    background-color: var(--bg-buttons);
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s ;
}

.heroContentContainer__btn--color {
    box-shadow: 1px 1px 15px var(--boxShadow-heroButton);
    background-color: var(--clr-primary);
    color: var(--clr-heroButton);
}

.heroContentContainer__btn:before, .heroContentContainer__btn:after {
    position: var(--value-absolute , absolute);
    content: var(--value-content , "");
    display: var(--value-block , block);
    width: 140%;
    height: 100%;
    left: -20%;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.heroContentContainer__btn:before {
    display: var(--value-none , none);
    top: -75%;
    background-image: radial-gradient(circle, var(--bg-buttons) 20%, transparent 20%), radial-gradient(circle, transparent 20%, var(--bg-buttons) 20%, transparent 30%), radial-gradient(circle, var(--bg-buttons) 20%, transparent 20%), radial-gradient(circle, var(--bg-buttons) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--bg-buttons) 15%, transparent 20%), radial-gradient(circle, var(--bg-buttons) 20%, transparent 20%), radial-gradient(circle, var(--bg-buttons) 20%, transparent 20%), radial-gradient(circle, var(--bg-buttons) 20%, transparent 20%), radial-gradient(circle, var(--bg-buttons) 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.heroContentContainer__btn:after {
    display: var(--value-none , none);
    bottom: -75%;
    background-image: radial-gradient(circle, var(--bg-buttons) 20%, transparent 20%), radial-gradient(circle,var(--bg-buttons) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--bg-buttons) 15%, transparent 20%), radial-gradient(circle, var(--bg-buttons) 20%, transparent 20%), radial-gradient(circle, var(--bg-buttons) 20%, transparent 20%), radial-gradient(circle, var(--bg-buttons) 20%, transparent 20%), radial-gradient(circle, var(--bg-buttons) 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.heroContentContainer__btn--color:before {
    display: var(--value-none , none);
    top: -75%;
    background-image: radial-gradient(circle, var(--clr-primary) 20%, transparent 20%), radial-gradient(circle, transparent 20%, var(--clr-primary) 20%, transparent 30%), radial-gradient(circle, var(--clr-primary) 20%, transparent 20%), radial-gradient(circle, var(--clr-primary) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--clr-primary) 15%, transparent 20%), radial-gradient(circle, var(--clr-primary) 20%, transparent 20%), radial-gradient(circle, var(--clr-primary) 20%, transparent 20%), radial-gradient(circle, var(--clr-primary) 20%, transparent 20%), radial-gradient(circle, var(--clr-primary) 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.heroContentContainer__btn--color:after {
    display: var(--value-none , none);
    bottom: -75%;
    background-image: radial-gradient(circle, var(--clr-primary) 20%, transparent 20%), radial-gradient(circle,var(--clr-primary) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--clr-primary) 15%, transparent 20%), radial-gradient(circle, var(--clr-primary) 20%, transparent 20%), radial-gradient(circle, var(--clr-primary) 20%, transparent 20%), radial-gradient(circle, var(--clr-primary) 20%, transparent 20%), radial-gradient(circle, var(--clr-primary) 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.heroContentContainer__btn:active {
    transform: scale(0.9);
}

.heroContentContainer__btn--color:active {
    transform: scale(0.9);
}

.heroContentContainer__btn.animate:before {
    display: var(--value-block , block);
    animation: topBubbles ease-in-out 0.75s forwards;
}

.heroContentContainer__btn.animate:after {
    display: var(--value-block , block);
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

.heroContentContainer__btn--color.animate:before {
    display: var(--value-block , block);
    animation: topBubbles ease-in-out 0.75s forwards;
}
.heroContentContainer__btn--color.animate:after {
    display: var(--value-block , block);
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {

    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
   }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
   }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
   }

}
@keyframes bottomBubbles {

    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
   }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
   }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
   }

}

/* .heroContentTitle__title{
    font-size: 60px;
} */

.heroContentTitleTyping {
    /* height: 90px;
    line-height: 90px; */
    /* overflow: var(--value-hidden); */
}
/*
.heroContentTitleTyping .heroContentTitleTyping__item {
    position: relative;
    top: 0;
    left: 0;
    animation: slide 12s steps(3) infinite;
}

@keyframes slide {
    100%{top: -30%;}
}

.heroContentTitleTyping__span {
    font-size: 60px;
    position: relative;
    margin: 5px 0;
} */

/* menuCloseAll Section */
.menuCloseAll.active {
    display: var(--value-none , none);
}

/* About Section */
.aboutGeneralContent {
    padding:var(--fs-padding-mobile ,  0 0.9375em);
    text-align: var(--value-center);
}

.aboutGeneralContentContainer {
    max-width: 1440px;
    margin: var(--fs-zero , 0) var(--value-auto , auto);
}

.aboutGeneralContent__subtitle {
    text-transform: var(--value-uppercase);
    margin-top: 50px;
}

.aboutGeneralContent__subsubtitle {
    font-family: var(--ff-paragraph);
    line-height: 1.30;
    font-size: 1.75rem;
    max-width: 1000px;
    margin: var(--fs-zero , 0) var(--value-auto , auto);
}

.titleDecoration {
    position: var(--value-relative);
    display: var(--value-block);
    width: max-content;
    margin: var(--fs-zero) var(--value-auto);
    text-transform: capitalize;
    font-style: var(--value-italic , italic);
    background-color: var(--clr-primary);
    border-radius: 10px;
    padding: 0 15px 0 5px ;
    color: var(--clr-titleDecoration);
    margin-top: 10px;
    z-index: 10;
}

.titleDecoration::after {
    position: var(--value-absolute);
    content: var(--value-content);
    height: 3px;
    width: calc(100vw - 16px);
    background-color: var(--clr-primary);
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.aboutContent {
    max-width: 1440px;
    margin: var(--fs-zero , 0) var(--value-auto , auto);
    padding:var(--fs-padding-mobile ,  0 0.9375em);
}

.aboutContentContainer {
    margin-bottom:3.125em;
}

.aboutContentContainer__paragraph--hide {
    display: var(--value-none , none);
}

.aboutContentImg {
    display: var(--value-none , none);
}

.aboutInformation {
    max-width: 1440px;
    margin: var(--fs-zero , 0) var(--value-auto , auto);
    padding:var(--fs-padding-mobile);
}

.aboutInformationPadding {
    display: var(--value-flex);
    flex-direction: var(--value-column);
    gap: 25px;
}

.aboutInformationPadding__img {
    box-shadow: 5px 5px;
    border-radius: 10px;
}

.aboutInformationPadding__img--second {
    box-shadow: -5px 5px;
}

.aboutInformationContainer__title {
    font-size: var(--fs-aboutTitle-mobile);
    text-transform: var(--value-uppercase);
}

/* Steps Section */
.steps {
    padding:var(--fs-padding-mobile ,  0 0.9375em);
    max-width: 1440px;
    margin: var(--fs-margin-mobile);
}

.steps__title {
    text-align: var(--value-center);
    text-transform: var(--value-uppercase);
}

.stepContainer {
    position: var(--value-relative);
    display: var(--value-grid);
    gap: 50px;
}

.stepContainer::before {
    position: var(--value-absolute);
    content: var(--value-content);
    top: -30px;
    left: 1px;
    width: 5px;
    height: 110%;
    border-radius: 10px;
    background-color: var(--clr-primary);
}

.stepBox {
    display: var(--value-grid);
    gap: 20px;
}

.stepBoxTitle {
    position: var(--value-relative);
    display: var(--value-flex);
    align-items: var(--value-center);
    gap: 10px;
    font-size: var(--fs-stepsTitle-mobile);
    font-family: var(--ff-titles);
}

.stepBoxTitle::before {
    position: var(--value-absolute);
    content: var(--value-content);
    left: 10px;
    width: 5px;
    height: 40%;
    transform: rotate(90deg);
    border-radius: 10px;
    background-color: var(--clr-primary);
}

.stepBox__number {
    margin-left: 25px;
}

.stepBox__title {
    margin: 0;
}

.stepBox__paragraph {
    margin: 0;
    margin-left: 25px;
}

/* information Section */
.informationContent {
    padding:var(--fs-padding-mobile);
    display: var(--value-flex , flex);
    max-width: 1440px;
    flex-direction: var(--value-column , column);
    align-items: var(--value-center , center);
    justify-content: var(--value-center , center);
    margin: var(--fs-zero , 0) var(--value-auto , auto);

}

.informationContent__title {
    margin-top: 50px;
    text-transform: var(--value-uppercase , uppercase);
}

.informationContent__span {
    display: var(--value-block);
    text-transform: capitalize;
    font-style: var(--value-italic);
    text-align: var(--value-center);
}

.informationContentContainers {
    display: var(--value-grid , grid);
    gap: 40px;
}

.informationContentContainer {
    display: var(--value-flex);
    flex-direction: var(--value-column , column);
    gap: 20px;
    padding: 2.5em 0.625em 2.5em 1.875em;
    border: 1px solid var(--borderWhite);
    background-color: var(--bg-sections);
    border-radius: 10px;
    box-shadow: 5px 5px var(--clr-primary);
}

.informationContentContainer__img {
    grid-area: informationContentContainer__img;
    width: 5rem;
    fill: var(--clr-primary);
}

.informationContentContainer__title {
    grid-area: informationContentContainer__title;
    margin: var(--fs-zero , 0);
    font-size: var(--fs-informationTitle-mobile);
    text-transform: var(--value-uppercase , uppercase);
    color: var(--dm-clr-secondary);
}

.informationContentContainer__paragraph {
    grid-area:informationContentContainer__paragraph;
    margin: var(--fs-zero , 0);
    color: var(--dm-clr-secondary);
}

/* Work Section */
.work {
    max-width: 1440px;
    margin: var(--fs-margin-mobile);
    padding:var(--fs-padding-mobile);
}

.workTitles__title {
    text-align: var(--value-center , center);
    text-transform: var(--value-uppercase);
}

.workProjects {
    display: var(--value-grid , grid);
    gap: 3.125em;
}

.workProject {
    display: var(--value-flex , flex);
    flex-direction: var(--value-column , column);
}

.workProject__title {
    font-size: var(--fs-workTitle-mobile);
    margin-bottom: 0.625em;
    margin-top: 0;
    text-transform: var(--value-uppercase , uppercase);
}

.workProjectImg {
    display: var(--value-grid);
    place-items: var(--value-center);
    width: 100%;
    height: 375px;
    border-radius: 10px;
    background-image: url(../../assets/image/aboutHero.jpeg);
    background-repeat: no-repeat;
    background-position:  var(--value-center);
    background-size: var(--value-cover);
    animation: infiniteMove infinite 3s linear ;
    transform: translateX(0);
}

@keyframes infiniteMove {
    0% , 100% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(10px);
    }
}

.workProjectImg__img {
    opacity: 0;
    transition: .5s opacity;
    width: 150px;
    height: 150px;
}

/* FormContainer Section */
.formContainer {
    max-width: 1440px;
    padding: var(--fs-padding-mobile);
    margin: var(--fs-margin-mobile);
}

.formContainerPadding {
    position: relative;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--bg-sections);
    box-shadow: -5px 5px var(--clr-primary);
}

/* Gradient Form

/* .formContainerPadding::before {
    position: var(--value-absolute);
    content: "";
    width: var(--value-100Percent);
    height: 5px;
    background-image: var(--clr-lineForm);
    border-radius: 10px;
    left: var(--fs-zero);
    bottom: var(--fs-zero);
}

.formContainerPadding::after {
    position: var(--value-absolute);
    content: "";
    width: 5px;
    height: var(--value-100Percent);
    background-image: var(--clr-lineForm);
    border-radius: 10px;
    left: var(--fs-zero);
    bottom: var(--fs-zero);
} */

.formContainer__img {
    display: var(--value-none , none);
}

.form {
    display: var(--value-grid , grid);
    gap: 1.25em;
    padding: 1.5625em 0;
}

.form__title {
    margin-bottom: var(--fs-zero , 0);
    font-size: var(--fs-asideAndFormTitle-mobile);
    color: var(--dm-clr-secondary);
    text-transform: var(--value-uppercase);
}

.form__span {
    display: var(--value-block);
    text-transform: capitalize;
    font-style: var(--value-italic);
}

.form__paragraph {
    color: var(--dm-clr-secondary);
}

.form__group {
    position: var(--value-relative , relative);
}

.input {
    width: 100%;
    padding: 0.75em 0.4375em;
    border: var(--value-none , none);
    outline: var(--value-none , none);
    background-color: var(--value-transparent , transparent);
    border-bottom: 2px solid var(--dm-clr-secondary);
    border-bottom: 2px solid #ffffff65;
    color: var(--dm-clr-secondary);
}

.textarea {
    min-height: 150px;
    padding: 0.625em;
    resize: vertical;
    border: var(--value-none , none);
    color: var(--dm-clr-secondary);
    outline: 2px solid #ffffff65;
    background-color: var(--value-transparent , transparent);
    transition: outline .4s ease-out;
    border-radius: 10px;
}

.textarea:focus {
    outline: 2px solid var(--clr-primary);
}

.input:focus + .form__label , .input:not(:placeholder-shown) + .form__label {
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: var(--clr-primary);
}

.form__label {
    position: var(--value-absolute , absolute);
    cursor: pointer;
    top: var(--fs-zero , 0);
    left: 5px;
    color: var(--dm-clr-secondary);
    transform: translateY(10px);
    transition: transform .4s, color 1.5s;
}

.form__line {
    position: var(--value-absolute , absolute);
    bottom: var(--fs-zero , 0);
    left: var(--fs-zero , 0);
    width: 100%;
    height: 2px;
    background-image: var(--clr-lineForm);
    transform-origin: var(--value-center);
    transform: scale(0);
    transition: transform .4s;
}

.input:focus ~ .form__line , .input:not(:placeholder-shown) ~ .form__line {
    transform: scale(1);
}

.formBtn {
    width: max-content;
    border: var(--value-none);
    outline: var(--value-none);
    cursor: pointer;
}

/* socialMedia Section */
.socialMedia {
    max-width: 1440px;
    margin: 0 auto;
    padding:var(--fs-padding-mobile);
}

.socialMedia__title {
    text-align: var(--value-center);
    text-transform: var(--value-uppercase);
}

.socialMediaContainers {
    display: var(--value-grid);
    place-content: var(--value-center);
    grid-template-columns: max-content max-content;
    gap: 20px;
    /* margin-top: 150px; */
}

.socialMediaContainer {
    display: var(--value-flex);
    flex-direction: var(--value-column);
    padding: 10px 30px;
    transition: outline .5s;
    max-width: 139px;
}

.socialMediaContainer__img {
    fill: var(--clr-primary);
    width: 60px;
    height: 60px;
}

.socialMediaContainer__span {
    margin-top: 7px;
}

/* Aside Section */
.aside {
    max-width: 1440px;
    margin: var(--fs-zero , 0) var(--value-auto , auto);
    padding: var(--fs-padding-mobile);
    transform: translateY(50%);
}

.asideContainer {
    border-radius: 10px;
    background-color: var(--bg-sections);
    padding: 3.125em 0.625em;
    display: var(--value-flex , flex);
    flex-direction: var(--value-column , column);
    gap: 1.5625em;
    text-align: var(--value-center , center);
    box-shadow: 5px 5px var(--clr-primary);
}

.aside__title {
    margin: var(--fs-zero , 0);
    font-size: var(--fs-asideAndFormTitle-mobile);
    text-transform: var(--value-uppercase , uppercase);
    line-height: var(--value-lineHeight , 1.5);
    color: var(--dm-clr-secondary);
    margin-top: 1.5625em;
}

.aside__title.active {
    margin-top: var(--fs-zero , 0);
}

.aside__span {
    display: var(--value-block);
    text-transform: capitalize;
    font-style: var(--value-italic);
}

.aside__paragraph {
    margin: var(--fs-zero , 0);
    color: var(--dm-clr-secondary);
}

.aside__btn {
    outline: var(--value-none , none);
    border: var(--value-none , none);
    align-self: var(--value-center , center);
    cursor: pointer;
    transition: 1s transform ;
}

.aside__btn.hidden {
    display: var(--value-none);
}

.aside__paragraph--opacity {
    opacity: var(--fs-zero , 0);
    transition: .5s opacity;
}

.aside__paragraph--opacity.active {
    opacity: 1;
}

/* Footer / Contact Section */
.contact {
    display: var(--value-flex , flex);
    gap: 25px;
    flex-direction: var(--value-column , column);
    padding: var(--fs-padding-mobile);
    padding-top: 18.75em;
    background-color:var(--bg-footer);
}

.contactContainer {
    width: 100%;
    max-width: 1290px;
    margin: var(--fs-zero) var(--value-auto);
}

.contactInformationAndLinksContainer {
    display: var(--value-flex , flex);
    gap: 50px;
    align-items: var(--value-center , center);
    flex-direction: var(--value-column , column);
}

.contactInformation {
    text-align: var(--value-center , center);
    max-width: 375px;
}

.contactInformation__logo {
    width: 100px;
    margin: var(--fs-zero , 0) var(--value-auto , auto);
}

.contactInformationSocialMedia {
    display: var(--value-flex , flex);
    gap: 1.5625em;
    align-items: var(--value-center , center);
    justify-content: var(--value-center , center);
    margin-top: 1.5625em;
}

.contactInformationSocialMedia__img {
    width: 25px;
    height: 25px;
    transition: .5s fill;
    fill: var(--clr-secondary);
}

.contactLangugesAndCopyrightContainer {
    display: var(--value-flex , flex);
    flex-direction: var(--value-column , column);
    gap: 1.5625em;
    margin-top: 1.5625em;
    margin-bottom: 1.5625em;
}

.contactLanguages {
    display: var(--value-flex , flex);
    align-items: var(--value-center , center);
    justify-content: var(--value-center , center);
}

.contactLanguages {
    text-align: var(--value-center);
}

.copyright {
    text-align: var(--value-center);
}

/* Tablet Size */
@media screen and (min-width:30em) {

    .heroContentContainer {
        text-align: var(--value-center , center);
        margin: var(--fs-zero , 0) var(--value-auto , auto);
    }

}

@media screen and (min-width:48em) {

    /* Font-size Section */
    .fs-title {
        font-size: var(--fs-title-tablet );
        margin: 0 0 75px 0;
    }

    .herotitle {
        font-size: var(--fs-heroTitle-tablet );
    }

    /* Paragraph Section */
    .paragraph {
        font-size: var(--fs-paragraph-tablet );
    }

    /* Marquee Section */
    .footerText {
        font-size: var(--fs-marquee-tablet);
    }

    /* Arrow Section */
    .arrow {
        right: 3.125em;
    }

    /* progressBar */
    .progressBar {
        top: 112px;
    }

    /* Submenu Section */
    .submenu {
        top: 0;
        z-index: 700;
        position: var(--value-fixed);
        left: var(--fs-zero , 0);
        right: var(--fs-zero , 0);
        display: var(--value-block);
        width: 100%;
        padding: var(--fs-padding-tablet);
        background-color: var(--value-transparent);
        transition: .5s background-color;
    }

    .submenu.addColor {
        background-color: var(--bg-header);
    }

    .submenu.active {
        display: var(--value-none);
    }

    .submenuContainer {
        display: var(--value-flex);
        justify-content: var(--value-space-between);
        width: 100%;
        max-width: 1290px;
        margin: var(--fs-zero) var(--value-auto);
        max-height: 28.38px;
    }

    .darkModeContainer {
        display: var(--value-flex);
        align-items: var(--value-center);
        gap: 10px;
    }

    .submenuContainerRight {
        display: var(--value-flex);
        gap: 50px;
        cursor: pointer;
    }

    .idiomsContainerInitial {
        display: var(--value-flex);
        align-items: var(--value-center);
        gap: 10px;
        margin-top: 3px;
    }

    .idiomsContainerImgAndTitle {
        display: var(--value-flex);
        justify-content: var(--value-center);
        align-items: var(--value-center);
        gap: 5px;
    }

    .idioms__img {
        width: 25px;
    }

    .idioms__title {
        color: var(--dm-clr-secondary);
        transition: .4s color;
    }

    .idioms__title--principal {
        color: var(--clr-secondary);
    }

    .idioms__title--principal.addColor {
        color: var(--dm-clr-secondary);
    }

    .idiomsContainerInitial__arrow {
        width: 25px;
        fill: var(--clr-secondary);
    }

    .idiomsContainerInitial__arrow.addColor {
        fill: var(--dm-clr-secondary);
    }

    .contactInformationSocialMedia--submenu {
        margin-top: var(--fs-zero);
        gap: 20px;
        max-height: 28.39px;
    }

    .contactInformationSocialMedia__img--submenu  {
        width: 20px;
        fill: var(--clr-secondary);
    }

    .contactInformationSocialMedia__img--submenu.addColor  {
        fill: var(--dm-clr-secondary);
    }

    .contactInformationSocialMedia__img--submenu-mobile.addColor  {
        fill: var(--dm-clr-secondary);
    }

    .idiomsContainerDisplay {
        display: var(--value-none);
    }

    .idiomsContainerDisplay.active {
        position: var(--value-relative);
        display: var(--value-flex);
        flex-direction: var(--value-column);
        align-items: flex-start;
        gap: 15px;
        background-color: var(--bg-sections);
        padding: 20px 10px;
        border-radius: 10px;
        margin-top: 20px;
        z-index: 750;
    }

    /* Header Section */
    .header {
        padding: var(--fs-padding-tablet , 0.625em 3.125em);
        top: 48px;
    }

    .header.active {
        top: var(--fs-zero);
    }

    .heroContent {
        padding: var(--fs-padding-tablet , 0.625em 3.125em);
    }

    .heroContentContainer__btn {
        font-size: var(--fs-paragraph-tablet);
    }

    .menuClose.active {
        display: var(--value-grid);
        grid-template-columns: .3fr .7fr;
        width: 100vw;
    }

    .menuCloseContainerLeft {
        display: var(--value-flex);
        justify-content: var(--value-center);
        align-items: var(--value-center);
        padding: 50px;
    }

    .menuCloseContainerLeft__img {
        display: var(--value-none);
        opacity: var(--fs-zero);
        transition: opacity .8s;
    }

    .menuCloseContainerLeft__img.active {
        opacity: 1;
    }

    .menuCloseContainerRightMarqueeContainer__span {
        font-size: var(--fs-marquee-tablet);
    }

    .menuCloseContainerRightHeader__link {
        padding-left: 50px;
    }

    .close {
        margin-right: 40px;
    }

    .menuCloseContainerRightList {
        padding-left: 50px;
    }

    .menuCloseContainerRightList__item {
        margin-bottom: 30px;
    }

    .menuCloseContainerRightFooter__darkMode {
        margin-right: 50px;
    }

    /* About Section */
    .aboutGeneralContent {
        padding: var(--fs-padding-tablet , 0.625em 3.125em);
        display: var(--value-flex , flex);
        align-items: var(--value-center , center);
        height: calc(100vh - 60px);
    }

    .aboutGeneralContent__subsubtitle {
        font-size: 2.625rem;
    }

    .aboutContent {
        padding: var(--fs-padding-tablet , 0.625em 3.125em);
    }

    .aboutInformation {
        padding:var(--fs-padding-tablet);
    }

    .aboutInformationPadding {
        display: var(--value-flex);
        flex-direction: var(--value-column);
        gap: 25px;
    }

    /* Steps Section */
    .steps {
        padding:var(--fs-padding-tablet);
    }

    .stepBox__number {
        margin-left: 35px;
    }

    .stepContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "stepBox--first ."
        ".              stepBox--second"
        "stepBox--third     ."
        ".              stepBox--fourth";
        gap: 75px;
    }

    .stepBox--first {
        grid-area:stepBox--first ;
    }

    .stepBox--second {
        position: var(--value-relative);
        grid-area:stepBox--second ;
    }

    .stepBox--second::before {
        position: var(--value-absolute);
        content: var(--value-content);
        width: 100%;
        height: 5px;
        left: -35px;
        top: -50px;
        background-color: var(--clr-primary);
        border-radius: 10px;
    }

    .stepBox--third {
        position: var(--value-relative);
        grid-area:stepBox--third ;
    }

    .stepBox--third::before {
        position: var(--value-absolute);
        content: var(--value-content);
        width: 100%;
        height: 5px;
        left: 35px;
        top: -50px;
        background-color: var(--clr-primary);
        border-radius: 10px;
    }

    .stepBox--fourth {
        position: var(--value-relative);
        grid-area:stepBox--fourth ;
    }

    .stepBox--fourth::before {
        position: var(--value-absolute);
        content: var(--value-content);
        width: 100%;
        height: 5px;
        left: -35px;
        top: -50px;
        background-color: var(--clr-primary);
        border-radius: 10px;
    }

    .stepContainer::before {
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
    }

    .stepBoxTitle::before {
        position: var(--value-absolute);
        content: var(--value-content);
        left: 10px;
        width: 5px;
        height: 40%;
        transform: rotate(90deg);
        background-color: var(--clr-primary);
    }

    .stepBox__paragraph {
        margin: 0;
    }

    /* Information Section */
    .informationContent {
        padding: var(--fs-padding-tablet);
    }

    .informationContentContainers {
        grid-template-columns: 1fr 1fr;
    }

    /* Work Section */
    .work {
        padding: var(--fs-padding-tablet);
    }

    .workProjects {
        grid-template-columns: 1fr 1fr;
        gap: 4.6875em 1.875em;
    }

    .workProject__title {
        font-size: var(--fs-workTitle-tablet);
    }

    .workProjectImg {
        height: 425px;
    }

    /* FormContainer Section */
    .formContainer {
        padding: var(--fs-padding-tablet , 0.625em 3.125em);
    }

    /* socialMedia Section */
    .socialMedia {
        padding:var(--fs-padding-tablet);
    }

    .socialMediaContainers {
        grid-template-columns: max-content max-content max-content;
        gap: 50px;
    }

    .socialMediaContainer {
        transition: outline .5s;
    }

    .socialMediaContainer__img {
        width: 65px;
        height: 65px;
    }

    /* Aside Section */
    .aside {
        padding: var(--fs-padding-tablet , 0.625em 3.125em);
    }

    .aside__paragraph {
        width: 85%;
        margin: var(--fs-zero , 0) var(--value-auto , auto);
    }

    /* Footer / Contact Section */
    .contact {
        padding:var(--fs-padding-tablet , 0.625em 3.125em) ;
        padding-top: 18.75em;
    }

    .contactInformationAndLinksContainer {
        display: var(--value-flex , flex);
        gap: 25px;
    }

    .linksItems__link {
        font-size: var(--fs-paragraph-tablet);
    }

    .contactLangugesAndCopyrightContainer {
        display: var(--value-flex , flex);
        align-items: var(--value-center , center);
        justify-content: var(--value-space-between);
        gap: var(--fs-zero , 0);
        flex-direction: var(--value-row , row);
    }

    .contactLanguages__slash {
        font-size: var(--fs-paragraph-tablet);
    }

    .contactLanguages__link {
        font-size: var(--fs-paragraph-tablet);
    }

}

/* Portatil Size */
@media screen and (min-width:64em) {

    /* Font-size Section */
    .fs-title {
        font-size: var(--fs-title-portatil );
        margin: 0 0 100px 0;
    }

    /* Paragraph Section */
    .paragraph {
        font-size: var(--fs-paragraph-portatil );
    }

    /* Arrow Section */
    .arrow {
        right: 4.6875em;
    }

    /* Marquee Section */
    .footerText {
        font-size: var(--fs-marquee-portatil );
    }

    /* Submenu Section */
    .submenu {
        padding: var(--fs-padding-portatil);
    }

    /* Header Section */
    .header {
        padding: var(--fs-padding-portatil , 0.625em 4.6875em);
    }

    .nav {
        display: var(--value-block);
    }

    .nav.active {
        filter: blur(10px);
    }

    .navList {
        display: var(--value-flex);
        overflow: var(--value-hidden);
    }

    .navList__item {
        margin-right: 25px;
    }

    .navList__link {
        color: var(--clr-secondary);
        text-transform: var(--value-uppercase);
        overflow: var(--value-hidden);
    }

    .navList__span {
        position: var(--value-relative);
        display: inline-block;
        transition: .4s .1s transform , .4s color;
    }

    .navList__span::before {
        position: var(--value-absolute);
        content: attr(data-hover);
        top: 100%;
        transform: translate3d(0,0,0);
    }

    .navList__span:hover {
        transform: translateY(-100%);
        color: var(--clr-primary);
    }

    .navList__link--about.addColor {
        color: var(--dm-clr-secondary);
    }

    .navList__link--steps.addColor {
        color: var(--dm-clr-secondary);
    }

    .navList__link--services.addColor {
        color: var(--dm-clr-secondary);
    }

    .navList__link--work.addColor {
        color: var(--dm-clr-secondary);
    }

    .navList__link--contact.addColor {
        color: var(--dm-clr-secondary);
    }

    .menuClose.active {
        grid-template-columns: .4fr .6fr;
    }

    .menuCloseContainerRightMarqueeContainer__span {
        font-size: var(--fs-marquee-portatil);
    }

    .menuCloseContainerRightHeader__link {
        padding-left: 75px;
        font-size: 2.25rem;
    }

    .close {
        margin-right: 75px;
    }

    .menuCloseContainerRightList {
        padding-left: 75px;
    }

    .menuCloseContainerRightList__item {
        margin-bottom: 30px;
    }

    .menuCloseContainerRightList__link {
        font-size: 2.25rem;
    }

    .menuCloseContainerRightFooter__darkMode {
        margin-right: 75px;
    }

    .darkMode {
        display: var(--value-block , block);
        --width:50px;
    }

    .darkMode.active {
        --width:50px;
        display: var(--value-block , block);
    }

    .languages {
        display: var(--value-flex , flex);
        gap: 10px;
    }

    .flag {
        width: 25px;
        height: 25px;
    }

    .headerContent {
        padding: var(--fs-padding-portatil , 0.625em 4.6875em);
    }

    .herotitle {
        font-size: var(--fs-heroTitle-portatil);
    }

    .heroContentContainer__btn {
        font-size: var(--fs-paragraph-portatil);
    }

    /* About Section */
    .aboutGeneralContent {
        padding: var(--fs-padding-portatil , 0.625em 4.6875em);
    }

    .aboutGeneralContent__subtitle {
        margin-bottom: 100px;
    }

    .aboutGeneralContent__subsubtitle {
        font-size: 3rem;
    }

    .aboutContent {
        display: var(--value-grid , grid);
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        place-items: var(--value-center , center);
        height: calc(100vh - 60px);
        padding:0 4.6875em;
    }

    .aboutContentContainer {
        margin-bottom: var(--fs-zero);
    }

    .aboutContentContainer__paragraph {
        margin-bottom: 1.875em;
    }

    .aboutContentContainer__paragraph--hide {
        display: var(--value-block , block);
    }

    .aboutContentImg {
        display: var(--value-block , block);
    }

    .aboutInformation {
        padding:var(--fs-padding-portatil);
    }

    .aboutInformationPadding {
        display: var(--value-grid);
        place-items: var(--value-center);
        grid-template-columns: 1fr 1fr;
    }

    .aboutInformationPadding--second {
        grid-template-areas: "aboutInformationContainer--second aboutInformationPadding__img--second";
    }

    .aboutInformationContainer--second {
        grid-area: aboutInformationContainer--second;
    }

    .aboutInformationPadding__img--second {
        grid-area: aboutInformationPadding__img--second;
    }

    .aboutInformationContainer__title {
        font-size: var(--fs-aboutTitle-portatil);
    }

    /* Steps Section */
    .steps {
        padding:var(--fs-padding-portatil);
    }

    .stepContainer {
        gap: 100px;
    }

    .stepBox--second::before {
        left: -50px;
    }

    .stepBox--third::before {
        left: 50px;
    }

    .stepBox--fourth::before {
        left: -50px;
    }


    .stepBoxTitle {
        font-size: var(--fs-stepsTitle-portatil);
    }

    /* Information Section */
    .informationContent {
        padding: var(--fs-padding-portatil);
    }

    .informationContentContainers {
        grid-template-columns: repeat(3 , 1fr);
    }

    .informationContentContainer {
        display: var(--value-grid);
        grid-template-rows: auto auto 150px;
        grid-template-areas:
        "informationContentContainer__img"
        "informationContentContainer__title"
        "informationContentContainer__paragraph";
        max-width: 400px;
    }

    .informationContentContainer__title {
        font-size: var(--fs-informationTitle-portatil);
    }

    /* Work Section */
    .work {
        padding: var(--fs-padding-portatil , 0.625em 4.6875em);
    }

    .workProject__title {
        font-size: var(--fs-workTitle-portatil);
    }

    .workProjectImg {
        height: 450px;
    }

    /* FormContainer Section */
    .formContainer {
        padding: var(--fs-padding-portatil , 0.625em 4.6875em);
    }

    .formContainerPadding {
        display: var(--value-grid , grid);
        grid-template-columns: .7fr 1fr;
        gap: 2.5em;
        padding: 2.5em;
    }

    .formContainer__img {
        display: var(--value-block , block);
        height: 100%;
        object-fit: var(--value-cover , cover);
    }

    .form__title {
        font-size: var(--fs-asideAndFormTitle-portatil);
    }

    .form {
        display: var(--value-grid , grid);
    }

    /* socialMedia Section */
    .socialMedia {
        padding:var(--fs-padding-portatil);
    }

    .socialMediaContainers {
        display: var(--value-flex);
        justify-content: var(--value-space-between);
        gap: 20px;
    }

    .socialMediaContainer {
        padding: 10px 37px;
    }

    /* Aside Section */
    .aside {
        padding: var(--fs-padding-portatil , 0.625em 4.6875em);
    }

    .aside__title {
        font-size:var(--fs-asideAndFormTitle-portatil);
    }

    /* Contact Section */
    .contact {
        padding: var(--fs-padding-portatil , 0.625em 4.6875em);
        padding-top: 15.625em;
    }

    .contactLanguages__slash {
        font-size: var(--fs-paragraph-portatil);
    }

    .contactLanguages__link {
        font-size: var(--fs-paragraph-portatil);
    }

}

@media screen and (hover: hover) {

    .arrow:hover {
       box-shadow: 3px 3px 15px var(--boxShadow-heroButton), -3px -3px 15px var(--boxShadow-heroButton);
    }

    .arrow:hover .arrow__img {
        color: var(--clr-primary);
    }

    .contactInformationSocialMedia__img:hover {
        fill: var(--clr-primary);
    }

    .contactInformationSocialMedia__img--submenu:hover {
        fill: var(--clr-primary);
    }

    .idioms__title:hover {
        color: var(--clr-primary);
    }

    .idioms__title--principal:hover {
        color: var(--clr-primary);
    }

    .workProjectImg:hover .workProjectImg__img {
        opacity: 1;
    }

    .socialMediaContainer:hover {
        border-radius: 5px;
        outline: 2px solid var(--clr-primary);
        box-shadow: 5px 5px var(--clr-primary);
    }

}





